<!-- page-header-start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>About</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- about-section start -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1 class="about-title">We are Travel Agency</h1>
                    <p>We want to find you the best deals in market so you can see more of the world. We want you feel inspired and reassured that we are here to support you at every step of your dream escape.</p>
                    <h4 class="mb20">We want to plan your holiday as if it were our own.</h4>
                    <div class="about-list">
                        <ul class="arrow arrow-chevron-circle-right offer-list">
                            <li>Customizable tours for newly married couple </li>
                            <li>Honeymoons trips worldwide destinations, including Europe etc.</li>
                            <li>Travel Insurance options avaliable</li>
                            <li>Corporate Travel and managments</li>
                            <li>Accomadtion in seven start Luxury Hotel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-img"><img src="images/agency-img.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></div>
            </div>
        </div>
    </div>
</div>
<!-- about-section close -->
<!-- features-section start -->
<div class="bg-default space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h1>Why Choose Our Travel Agency?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feature start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-building"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Accommodation</h3>
                        <p>Lorem ipsum dolor sitamet consec tetur adipiscing elied rs tristi quetur etullam corper viver.</p>
                    </div>
                </div>
            </div>
            <!-- feature close -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-plane"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Transportation</h3>
                        <p>Vivamus tincidunt varius arcu vitaeli ac fringilla nioamile just oetbi once bendum dapibus. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-star"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Easy Trip Planning</h3>
                        <p>Apretium imperdie is nullam facili sis elit velest blandit ultri ciesras atvar ac ius lorem sitamet velerat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features-section close -->
<div class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="cta-content">
                    <div class="cta-text">GO EXPLORE</div>
                    <h1 class="cta-title">It’a Big World Out of There</h1>
                    <a href="contact-us.html" class="btn btn-primary btn-lg">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials-section start -->
<div class="bg-default space-medium">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h1>Our Happy Travelers Reviews</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Testimonials-one-start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <div class="testimonial-img"><img src="images/testimonial-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                    <div class="testimonial-user-img"><img src="images/testimonial-user-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                    <div class="testimonial-content">
                        <h4>Paul Hasburg</h4>
                        <span class="location">Kerala</span>
                        <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                        <div>
                            <p class="testimonial-text">“I love this tour. We have enough time to fully experience the Kerala. I have the opportunity to show my region, thank you" </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials-one-close -->
            <!-- Testimonials-two-start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <div class="testimonial-img"><img src="images/testimonial-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                    <div class="testimonial-user-img"><img src="images/testimonial-user-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                    <div class="testimonial-content">
                        <h4>Plisa Moody</h4>
                        <span class="location">Kullu-manali</span>
                        <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                        <div>
                            <p class="testimonial-text">“You were an excellent Travel Agency for us! It was invaluable trip to kullu-manali & You considered our unique needs, thank you ”</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials-two-start -->
            <!-- Testimonials-three-start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="testimonial-block">
                    <div class="testimonial-img"><img src="images/testimonial-img-3.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                    <div class="testimonial-user-img"><img src="images/testimonial-user-img-3.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                    <div class="testimonial-content">
                        <h4>Christine Smith</h4>
                        <span class="location">Turkey</span>
                        <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                        <div>
                            <p class="testimonial-text">“Suspendisse vitaea enim dictum fringilla ullam interdum atelit id vestibulum TURKEY aecenas viverra risusit amet quam consectetu, thank you”</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials-three-close -->
        </div>
    </div>
</div>