<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="Want to start your travel agency online and need website for your travel business? Start with travel agency responsive website template. Its absolutely free.">
    <meta name="keywords" content="travel, tour, tourism, honeymoon pacakage, summer trip, exotic vacation, destination, international, domestic website template, holiday, travel agecny responsive website template">
    <title>Tour and Travel Agency - Responsive Website Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- header-section start -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="call-info">
                        <p class="call-text">Any Question? Call Us:<strong>252-386-7004</strong></p>
                    </div>
                </div>
                <div class=" col-md-8 hidden-sm hidden-xs">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                        <a href="index.html"><img src="images/logo.png" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="index.html" title="Home">Home</a></li>
                                    <li><a href="about.html" title="About us">About us</a> </li>
                                    <li class="has-sub"><a href="tours.html" title="Tours">Tours</a>
                                        <ul>
                                            <li><a href="domestic-tour.html" title="Group Tours">Domestic Tours</a></li>
                                            <li><a href="international-tour.html" title="Couple Tours">International Tours</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="blog-default.html" title="Blog ">Blog</a>
                                        <ul>
                                            <li><a href="blog-default.html" title="Blog">Blog Default</a></li>
                                            <li><a href="blog-single.html" title="Blog Single ">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="testimonials.html" title="Testimonials">Testimonials</a>
                                        <li><a href="contact-us.html" title="Contact Us">Contact Us</a> </li>
                                        <li><a href="styleguide.html" title="Styleguide">styleguide</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-section close -->
    <!-- page-header-start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="page-section">
                        <h1 class="page-title">Blog-Single</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Blog</li>
                        <li>Blog-single</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- page-header-close -->
    <!-- blog-section start -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <!-- post-one-start -->
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="post-block">
                        <div class="post-img"><img src="images/blog-post-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></div>
                        <div class="post-sticky"> <i class="fa fa-thumb-tack"></i> </div>
                        <div class="post-content">
                            <div>
                                <h1 class="post-title">Best Budget Destination for Couple</h1>
                            </div>
                            <div class="meta"> <span class="meta-date">Posted on March 5, 2017 </span> <span class="meta-author">by <a href="#">Timothy Cooper</a></span> </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Pellentesque habitant morbi tristique senectus etnetus et malesuada fames acturpis egestas morbi utenim idest aliquam ornare velim eget nisi vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                    <p>Cras quis tincidunt enim morbi etneque tempor sapien viverra condimentum maecenas gravida dapibus feugia duis cursus atnisi at facilisis morbi vulputate quamat auctor massa eleifend eultrices neque euipsum pharetra imperdiet fonec vel mauris aliquet sollicitici udin ligula sed consequat leo proin ornare gravida congue morbi eget lacus vitae dolor suscipit sagittis mauris. </p>
                    <p>Aenean laoreet lacinia ipsum, nec porta neque maximus quis. In purus dui, congue vel felis in, blandit gravida augue. Suspendisse mattis imperdiet leo, sed lobortis mi rhoncus eu. Praesent pulvinar fermentum pretium. In quis tellus ut ligula condimentum tempor. Nulla ornare blandit libero id pretium. Morbi luctus nunc et nisl maximus viverra. Donec ultrices suscipit egestas. Pellentesque ut imperdiet lorem. Curabitur lobortis, sem a imperdiet fringa ligula, eu porta lacus ipsum ut nulla. Integer porttitor,erra diam orci ut lacus.</p>
                    <p class="blockquote">"Nullam rutrum viverra leo, et egestas nibh malesuada quis. Nam placerat euismod quam, nec ullamcorper odio. Maecenas feugiat risus sed aliqulentesque aliquet leo eros, quis interdum leo faucibus eget."</p>
                    <img src="images/side-post.jpg" alt="" class="align-left">
                    <p>Morbi et neque tempor sapien viverra condimentu mecenas gravida dapibus feugiat duis cursus atnisi at Integer tincidunt varius eleifend. Vestibulum dapibus ac ante nec feugiat.facilisis morbi vulpu tate quamt auctor massa eleifend pharetra imperdiet. </p>
                    <p>Onteger eu facilisis lectus at condimentum velit pellentesque at ipsum eros mesent lectus tellus mollis eget sem quis mattis hendrerit elit vivamus rutrum justo sed porta ullamcoreros est sit amet libero. Nulla quis facilisis sem. Sed elementum maximus quam eu commodo. Curabitur maximus tincidunt purus, in pulvinar lorem euismod at. Morbi porttitor luctus justo id sollicitudin. Cras non est eget lectus consectetur finibus sed eu arcu. Quisque suscipit, urna et varius bibendum, tortor urna vehicula lectus, vitae commodo turpis nisi non quam.</p>
                    <div class="post-navigation mb30 mt80">
                        <div class="row">
                            <div class="nav-links">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a href="#" class=" prev-link mb30">Prev Post</a>
                                    <h4 class="previous-next-title"><a href="#">Amazing place to visit</a></h4>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class=" nav-next text-right"><a href="#" class="next-link mb30">Next Post</a>
                                        <h4 class="previous-next-title"><a href="#">Travel Photography Tips</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Author post start-->
                    <div class="author-block">
                        <div class="row">
                            <div class="author-post">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="author-img">
                                        <a href="#"><img src="images/author-image.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                                    <div class="author-post-content">
                                        <h4 class="author-title"><a href="#" class="title">Jorge McNeal</a></h4>
                                        <span class="author-meta">Author</span>
                                        <p class="author-text"> Pellentesque rhoncus aliquet sem vitae tristique. Fusce blandit massa vitae elementum tinciduntris lorem justo feugiat ac luctus nec faucibus ac semhasellus suscipit orci nisi.</p>
                                        <div class="author-post-btn"><a href="#" class="btn btn-primary btn-lg">view all post</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Author post close-->
                    <div class="related-block">
                        <div class="row">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2>Related Post</h2>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="related-post">
                                            <div class="related-img">
                                                <a href="blog-single.html" class="imghover"><img src="images/related-post-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                                            </div>
                                            <div class="related-post-content">
                                                <h2><a href="#" class="title">The Ultimate singapore to do list</a></h2>
                                                <span class="meta-categories">In<a href="#" class="title">"Travel"</a></span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="related-post">
                                            <div class="related-img">
                                                <a href="blog-single.html" class="imghover"><img src="images/related-post-2.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                                            </div>
                                            <div class="related-post-content">
                                                <h2 class="related-title"><a href="#" class="title">Survival Tips While Exploring
                        the World!</a></h2>
                                                <span class="meta-categories">In<a href="#">"Travel"</a></span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="related-post">
                                            <div class="related-img">
                                                <a href="blog-single.html" class="imghover"> <img src="images/related-post-3.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"> </a>
                                            </div>
                                            <div class="related-post-content">
                                                <h2><a href="#" class="title">The Ultimate singapore to do list</a></h2>
                                                <span class="meta-categories">In<a href="#" class="title">"Travel"</a></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comments start-->
                    <div class="comment-area">
                        <div class="row">
                            <div class=" col-lg-12 col-md-12">
                                <div class="comment-title">
                                    <h2>(4)Comments</h2>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"><img src="images/comment-post-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                                            <div class="comment-info">
                                                <h4 class="user-title">Cassandra Craft</h4>
                                                <div class="meta">
                                                    <div class="comment-meta-date">31 March, 2017</div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Curabieet sitamet purus sed vestibulu ullam cursus, lacus eget pharetra accumsan ante metussent ultrices massa ligula. Duis mollis ultrices lectus a placerat. Fusce pretium dui sed dius natoque penatibus et magnis dis parturiet the iaculis etiam.</p>
                                                </div>
                                                <a href="#" class="reply-link">Reply</a> </div>
                                        </li>
                                    </ul>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"><img src="images/comment-post-2.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                                            <div class="comment-info">
                                                <h4 class="user-title">Stephen McDaniel</h4>
                                                <div class="meta"> <span class="comment-meta-date">28 March, 2017</span></div>
                                                <div class="comment-content">
                                                    <p>Praesent ultrices massa ligula. Duis mollis ultrices lectus a placerat. Fusce pretium dui sed diam faucibu varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus mauris odio.</p>
                                                </div>
                                                <a href="#" class="reply-link">Reply</a> </div>
                                            <ul class="comment-list childern">
                                                <li>
                                                    <div class="comment-author"><img src="images/comment-post-3.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                                                    <div class="comment-info">
                                                        <h4 class="user-title">Lester Sanders</h4>
                                                        <div class="meta"> <span class="comment-meta-date">10 March, 2017</span></div>
                                                        <div class="comment-content">
                                                            <p>Suscipit metus quis pharetra etpeisgetreruis mollis ultrices lectused diam faucibus celerci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus mrateget the iaculis etiam.</p>
                                                        </div>
                                                        <a href="#" class="reply-link">Reply</a> </div>
                                            </ul>
                                            </li>
                                    </ul>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"><img src="images/comment-post-4.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                                            <div class="comment-info">
                                                <h4 class="user-title">Vicki Bouknight</h4>
                                                <div class="meta"> <span class="comment-meta-date">18 March, 2017</span></div>
                                                <div class="comment-content">
                                                    <p>Praesent ultrices massa ligula. Duis mollis ultrices lectus a placerat. Fusce pretium dui sed diam faucibus scelerisque. Orci varius natoquscetur rius mauris odio, dictum eu elementum ac, pretium eu dui.</p>
                                                </div>
                                                <a href="#" class="reply-link">Reply</a></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comments close-->
                    <div class="leave-comments">
                        <h2 class="comment-title">Leave A Reply</h2>
                        <form>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="textarea">Comments</label>
                                        <textarea class="form-control" id="textarea" name="textarea" rows="6"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Name</label>
                                        <input id="name" name="name" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input id="email" name="email" type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="website">Website</label>
                                        <input id="website" name="website" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-sm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-about-start -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title ">About us</h3>
                        <p>Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more in our travel agency !</p>
                        <a href="#" class="footer-link">More about us</a></div>
                </div>
                <!-- footer-about-close -->
                <!-- footer-location-start -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Our Locations</h3>
                        <ul class="arrow arrow-chevron-circle-right">
                            <li><a href="#">Ahmedabad</a></li>
                            <li><a href="#">Mumbai</a></li>
                            <li><a href="#">Surat</a></li>
                            <li><a href="#">Jamnagar</a></li>
                            <li><a href="#">Bhuj</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-location-close -->
                <!-- footer-contact-start -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                    <div class="footer-widget">
                        <h3 class="footer-title">Contact Info</h3>
                        <div class="contact-info">
                            <ul>
                                <li>2867 University Street Ahmedabad, WA 98052</li>
                                <li>252-386-7004 </li>
                                <li>info@yourwebsitedomian.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer-contact-close -->
                <!-- footer-social-start -->
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 ">
                    <div class="footer-widget">
                        <h3 class="footer-title">Follow us on</h3>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer-social-close -->
            </div>
        </div>
    </div>
    <!-- tiny-footer-start -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>served. Privacy Policy</div>
            </div>
        </div>
        <!-- tiny-footer-start -->
    </div>
    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
</body>

</html>
