<!-- page-header-start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">Blog</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Blog</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- blog-section start -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <!-- post-one-start -->
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="post-block">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                    </div>
                    <div class="post-sticky"> <i class="fa fa-thumb-tack hidden-xs"></i> </div>
                    <div class="post-content">
                        <div>
                            <h1><a href="blog-single.html" class="post-title">Best Budget Destination for Couple</a></h1>
                        </div>
                        <div class="meta"> <span class="meta-date">Posted on March 5, 2017 </span> <span class="meta-author">by <a href="#">Timothy Cooper</a></span> </div>
                    </div>
                </div>
            </div>
            <!-- post-one-close -->
            <!-- post-one-start -->
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="post-block">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-2.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                    </div>
                    <div class="post-sticky"> <i class="fa fa-play-circle-o hidden-xs"></i> </div>
                    <div class="post-content">
                        <div>
                            <h1><a href="blog-single.html" class="post-title">The Ultimate singapore To Do List</a></h1>
                        </div>
                        <div class="meta"> <span class="meta-date">Posted on March 3, 2017 </span> <span class="meta-author">by <a href="#">Timothy Cooper</a></span> </div>
                    </div>
                </div>
            </div>
            <!-- post-one-close -->
            <!-- post-one-start -->
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="post-block">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="images/blog-post-3.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                    </div>
                    <div class="post-sticky"> <i class="fa fa-image hidden-xs"></i> </div>
                    <div class="post-content">
                        <div>
                            <h1><a href="blog-single.html" class="post-title">Survival Tips for Exploring the World!</a></h1>
                        </div>
                        <div class="meta"> <span class="meta-date">Posted on March 1, 2017 </span> <span class="meta-author">by <a href="#">Timothy Cooper</a></span> </div>
                    </div>
                </div>
            </div>
            <!-- post-one-close -->
            <!-- post-one-close -->
            <!-- post-one-start -->
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="post-block">
                    <div class="post-img">
                        <a href="blog-single.html"><img src="images/quote-post.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></a>
                    </div>
                    <div class="quoteblock">
                        <h1 class="">Quote of the Day</h1>
                        <div class="quoteblock-content">
                            <p>“Travel doesn’t become adventrue until you leave yourself behing”</p>
                            <span class="quoteblock-author">-Tracy Miller</span> </div>
                    </div>
                </div>
            </div>
            <!-- post-one-close -->
        </div>
    </div>
</div>