<script>
$(document).ready(function(){
	$('#form_submit_button').click(function(){
		$('#contact_form').attr({
			'method':'get',
			'action':'[[@{/board_edit_impl}]]'
		});
		$('#contact_form').submit();
	});
});
</script>
<!-- attritube : board -->
<!-- CONTACT -->
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_responsive.css}">

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" th:data-image-src="@{/images/contact_background.jpg}"></div>
	<div class="home_content">
		<div class="home_title">CS Center</div>
	</div>
</div>

<!-- Contact -->

<div class="contact_form_section">
	<div class="container">
		<div class="row">
			<div class="col">
			
				<!-- Contact Form  -->
				<div class="contact_form_container_edit" id="qna_container">
					<div class="contact_title text-center">1:1 문의 수정하기</div>
					<form id="contact_form" class="contact_form text-center">
						<input name="board_code" type="hidden" th:value="${board.board_code}">
						<input name="mem_nick" type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="이름" required="required" data-error="이름을 입력하세요." th:value="${session.loginMember.mem_nick}">
						<input name="mem_email" type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="이메일" required="required" data-error="이메일 주소를 입력하세요." th:value="${session.loginMember.mem_email}">
						<input name="board_subject" type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="제목" required="required" data-error="제목을 입력하세요." th:value="${board.board_subject}">
						<select name="board_cate" id="contact_form_cate" class="contact_form_cate input_field" disabled>
							<option th:text="${board.board_cate}"></option>
						</select>
						<textarea name="board_content" id="contact_form_message" class="text_field contact_form_message" rows="4" placeholder="문의 내용" required="required" data-error="본문 내용을 입력하세요." th:text="${board.board_content}"></textarea>
						<button type="reset" id="form_reset_button" class="form_reset_button button trans_200">취소<span id="cancel"></span><span id="cancel"></span><span id="cancel"></span></button>
						<button id="form_submit_button" class="form_submit_button button trans_200">작성하기<span></span><span></span><span></span></button>
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>
