<!-- attribute : boardlist -->
<!-- CONTACT -->
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/contact_responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_responsive.css}">

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" th:data-image-src="@{/images/contact_background.jpg}"></div>
	<div class="home_content">
		<div class="home_title">CS Center</div>
	</div>
</div>

<!-- Contact -->

<div class="contact_form_section">
	<div class="container">
		<div class="row">
			<div class="col">

				<!-- Contact Form -->
				<div class="contact_form_container" id="faq_container">
					<div class="faq_header">
						<div class="faq_title">FAQ<span style="font-size: 0.5em; font-weight: normal;">&nbsp;&nbsp;자주 묻는 질문</span></div>
						<a href="#" class="faq_category" style="font-weight:bold; color:black; font-size:1.1em;">회원정보</a><a href="#" class="faq_category">상품문의</a><a href="#" class="faq_category">주문/결제</a><a href="#" class="faq_category">기타서비스</a>
					</div>
					<div class="faq_table">
						<div class="faq_table_header">
							<p class="faq_table_category">구분</p>
							<p class="faq_table_subject">제목</p>
							<p class="faq_table_date">날짜</p>
						</div>
						<div class="faq_body_box">
							<!-- JS Active로 접었다 폈다 기능 들어갈 예정 -->
							<div class="faq_table_body">
								<div class="faq_table_body_list" th:each="board:${boardlist}">
									<p class="faq_table_category faq_content_category" th:text="${board.board_cate}">로그인/정보</p>
									<p class="faq_table_subject faq_content_subject" th:text="${board.board_subject}">소셜 로그인은 어떻게 하나요?</p>
									<p class="faq_table_date faq_content_date" th:text="${board.board_rdate}">2022년 12월 24일</p>
								</div>
							</div>
						</div>
					</div>
					<button>글 등록</button>
				</div>
				
				<!-- Contact Form
				<div class="contact_form_container" id="qna_container">
					<div class="contact_title text-center">1:1 문의 남기기</div>
					<form action="#" id="contact_form" class="contact_form text-center">
						<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="이름" required="required" data-error="이름을 입력하세요.">
						<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="이메일" required="required" data-error="이메일 주소를 입력하세요.">
						<input type="text" id="contact_form_subject" class="contact_form_subject input_field" placeholder="제목" required="required" data-error="제목을 입력하세요.">
						<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="문의 내용" required="required" data-error="본문 내용을 입력하세요."></textarea>
						<button type="reset" id="form_reset_button" class="form_reset_button button trans_200">취소<span id="cancel"></span><span id="cancel"></span><span id="cancel"></span></button>
						<button type="submit" id="form_submit_button" class="form_submit_button button trans_200">작성하기<span></span><span></span><span></span></button>
					</form>
				</div>  -->
				
			</div>
		</div>
	</div>
</div>