<!-- page-header-start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">Domestic Tour</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Domestic tour</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-section start -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <!-- service start -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tour-block">
                    <div class="tour-img">
                        <a href="#"><img src="images/tour-pic-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="tour-content">
                        <h2><a href="#" class="title">Leh-Ladakh</a></h2>
                        <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">8 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">7 Nights </span> </div>
                        <div class="tour-text mb40">
                            <p>Monasteries | Nubra Velly | Panmika Pangong Lake | Zoravar Fort | Alchi Khardung La | Sidhu Ghat </p>
                        </div>
                        <div class="tour-details">
                            <div class="tour-details-text"><span>8 Days</span></div>
                            <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- service close -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tour-block">
                    <div class="tour-img">
                        <a href="#"><img src="images/tour-pic-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="tour-content">
                        <h2><a href="#" class="title">Kullu-Manali</a></h2>
                        <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">9 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">8 Nights </span> </div>
                        <div class="tour-text mb40">
                            <p>Shoja | Karrain | Rahala Falls Bathad | Himvalley Manali | Beas Kund Jana Falls | Van Vihar National Park </p>
                        </div>
                        <div class="tour-details">
                            <div class="tour-details-text"><span>9 Days</span></div>
                            <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tour-block">
                    <div class="tour-img">
                        <a href="#"><img src="images/tour-pic-3.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="tour-content">
                        <h2><a href="#" class="title">Kerala</a></h2>
                        <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">7 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">6 Nights </span> </div>
                        <div class="tour-text mb40">
                            <p>Kochi | Munnar | Thiruvananthapuram Alappuzha | Kozikode | Thrissur | Varkala Vagamon | Malappuram | Kuttanad </p>
                        </div>
                        <div class="tour-details">
                            <div class="tour-details-text"><span>7 Days</span></div>
                            <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="tour-block">
                    <div class="tour-img">
                        <a href="#"><img src="images/tour-pic-4.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="tour-content">
                        <h2><a href="#" class="title">Darjeeling &amp; Sikkim </a></h2>
                        <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">10 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">9 Nights </span> </div>
                        <div class="tour-text mb40">
                            <p>Batasia Loop | Senchal Lake | Kanchenjunga Zoological Gardens | Observatory hills | Mirik Tiger Hills | Siliguri | Bhutiya Busty Gompa </p>
                        </div>
                        <div class="tour-details">
                            <div class="tour-details-text"><span>10 Days</span></div>
                            <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>