<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <meta name="description" content="Want to start your travel agency online and need website for your travel business? Start with travel agency responsive website template. Its absolutely free.">
    <meta name="keywords" content="travel, tour, tourism, honeymoon pacakage, summer trip, exotic vacation, destination, international, domestic website template, holiday, travel agecny responsive website template">
    <title>Tour and Travel Agency - Responsive Website Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- header-section start -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 hidden-sm col-xs-12">
                    <div class="call-info">
                        <p class="call-text">Any Question? Call Us:<strong>252-386-7004</strong></p>
                    </div>
                </div>
                <div class=" col-md-8 hidden-sm hidden-xs">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                        <a href="index.html"><img src="images/logo.png" alt="Tour and Travel Agency - Responsive Website Template"></a>
                    </div>
                    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                        <div class="navigation">
                            <div id="navigation">
                                <ul>
                                    <li class="active"><a href="index.html" title="Home">Home</a></li>
                                    <li><a href="about.html" title="About us">About us</a> </li>
                                    <li class="has-sub"><a href="tours.html" title="Tours">Tours</a>
                                        <ul>
                                            <li><a href="domestic-tour.html" title="Group Tours">Domestic Tours</a></li>
                                            <li><a href="international-tour.html" title="Couple Tours">International Tours</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="blog-default.html" title="Blog ">Blog</a>
                                        <ul>
                                            <li><a href="blog-default.html" title="Blog">Blog Default</a></li>
                                            <li><a href="blog-single.html" title="Blog Single ">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="testimonials.html" title="Testimonials">Testimonials</a>
                                        <li><a href="contact-us.html" title="Contact Us">Contact Us</a> </li>
                                        <li><a href="styleguide.html" title="Styleguide">styleguide</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-section close -->
    <!-- page-header-start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="page-section">
                        <h1 class="page-title">Domestic Tour</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Domestic tour</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- page-header-close -->
    <!-- service-section start -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <!-- service start -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tour-block">
                        <div class="tour-img">
                            <a href="#"><img src="images/tour-pic-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                        </div>
                        <div class="tour-content">
                            <h2><a href="#" class="title">Leh-Ladakh</a></h2>
                            <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">8 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">7 Nights </span> </div>
                            <div class="tour-text mb40">
                                <p>Monasteries | Nubra Velly | Panmika Pangong Lake | Zoravar Fort | Alchi Khardung La | Sidhu Ghat </p>
                            </div>
                            <div class="tour-details">
                                <div class="tour-details-text"><span>8 Days</span></div>
                                <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- service close -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tour-block">
                        <div class="tour-img">
                            <a href="#"><img src="images/tour-pic-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                        </div>
                        <div class="tour-content">
                            <h2><a href="#" class="title">Kullu-Manali</a></h2>
                            <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">9 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">8 Nights </span> </div>
                            <div class="tour-text mb40">
                                <p>Shoja | Karrain | Rahala Falls Bathad | Himvalley Manali | Beas Kund Jana Falls | Van Vihar National Park </p>
                            </div>
                            <div class="tour-details">
                                <div class="tour-details-text"><span>9 Days</span></div>
                                <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tour-block">
                        <div class="tour-img">
                            <a href="#"><img src="images/tour-pic-3.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                        </div>
                        <div class="tour-content">
                            <h2><a href="#" class="title">Kerala</a></h2>
                            <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">7 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">6 Nights </span> </div>
                            <div class="tour-text mb40">
                                <p>Kochi | Munnar | Thiruvananthapuram Alappuzha | Kozikode | Thrissur | Varkala Vagamon | Malappuram | Kuttanad </p>
                            </div>
                            <div class="tour-details">
                                <div class="tour-details-text"><span>7 Days</span></div>
                                <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tour-block">
                        <div class="tour-img">
                            <a href="#"><img src="images/tour-pic-4.jpg" alt="Tour and Travel Agency - Responsive Website Template"></a>
                        </div>
                        <div class="tour-content">
                            <h2><a href="#" class="title">Darjeeling &amp; Sikkim </a></h2>
                            <div class="tour-meta"> <span class="tour-meta-icon"><i class="fa fa-sun-o"></i></span><span class="tour-meta-text">10 Days</span> <span class="tour-meta-text">|</span> <span class="tour-meta-icon"><i class="fa fa-moon-o"></i></span><span class="tour-meta-text">9 Nights </span> </div>
                            <div class="tour-text mb40">
                                <p>Batasia Loop | Senchal Lake | Kanchenjunga Zoological Gardens | Observatory hills | Mirik Tiger Hills | Siliguri | Bhutiya Busty Gompa </p>
                            </div>
                            <div class="tour-details">
                                <div class="tour-details-text"><span>10 Days</span></div>
                                <div class="tour-details-btn"> <span><a href="#" class="btn btn-primary">View Details</a></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-about-start -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title ">About us</h3>
                        <p>Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more in our travel agency !</p>
                        <a href="#" class="footer-link">More about us</a></div>
                </div>
                <!-- footer-about-close -->
                <!-- footer-location-start -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Our Locations</h3>
                        <ul class="arrow arrow-chevron-circle-right">
                            <li><a href="#">Ahmedabad</a></li>
                            <li><a href="#">Mumbai</a></li>
                            <li><a href="#">Surat</a></li>
                            <li><a href="#">Jamnagar</a></li>
                            <li><a href="#">Bhuj</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-location-close -->
                <!-- footer-contact-start -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                    <div class="footer-widget">
                        <h3 class="footer-title">Contact Info</h3>
                        <div class="contact-info">
                            <ul>
                                <li>2867 University Street Ahmedabad, WA 98052</li>
                                <li>252-386-7004 </li>
                                <li>info@yourwebsitedomian.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer-contact-close -->
                <!-- footer-social-start -->
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 ">
                    <div class="footer-widget">
                        <h3 class="footer-title">Follow us on</h3>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer-social-close -->
            </div>
        </div>
    </div>
    <!-- tiny-footer-start -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a></div>
            </div>
        </div>
        <!-- tiny-footer-start -->
    </div>
    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
</body>

</html>
