<div class="mypage_menu">
		<ul>
			<li id="mypage_menu_title">설정</li>
			<li><a href="#">계정 정보</a></li>
		</ul>
		<ul>
			<li id="mypage_menu_title">여행 관리</li>
			<li id="travel_menu"><a href="#">여행 관리</a>
			<ul id="submenu">
				<li><a href="#">예정된 여행</a></li>
				<li><a href="#">지난 여행</a></li>
			</ul></li>
			<li><a href="#">나의 후기</a></li>
			<li><a href="#">위시리스트</a></li>
		</ul>
		<ul>
			<li id="mypage_menu_title">고객지원</li>
			<li><a href="#">공지사항</a></li>
			<li><a href="#">나의 문의</a></li>
		</ul>
	</div>