<!-- attribute : itemlist -->

<!-- OFFERS -->
<link rel="stylesheet" type="text/css" href="styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="styles/offers_responsive.css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_responsive.css}">

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/about_background.jpg"></div>
	<div class="home_content">
		<div class="home_title">테마여행 찾기</div>
	</div>
</div>

<!-- Offers -->

<div class="offers">

	<!-- Search -->

	<div class="search">
		<div class="search_inner">

			<!-- Search Contents -->
			
			<div class="container fill_height no-padding">
				<div class="row fill_height no-margin">
					<div class="col fill_height no-padding">

						<!-- Search Tabs -->

						<div class="offers_search_tabs_container">
							<div class="offers_search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="offers_search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/suitcase.png" alt=""><span>테마</span></div>
								<div class="offers_search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/bus.png" alt="">지역</div>
							</div>		
						</div>

						<!-- Search Panel -->

						<div class="search_panel active">
							<form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_1" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_1" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<div class="extras">
									<div class="search_item"><div><b>테마를 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">가족</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">우정</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">효도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">커플</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">솔로</label>
											</div>
										</li>
									</ul>
								</div>
								<button class="button search_button">검색</button>
							</form>
						</div>

						<!-- Search Panel -->

						<div class="search_panel">
							<form action="#" id="search_form_2" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="extras">
									<div class="search_item"><div><b>지역을 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">서울</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">인천</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">부산</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">광주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">제주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경기도</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">강원도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">충청도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">전라도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경상도</label>
											</div>	
										</li>
									</ul>
								</div>
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_2" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_2" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<button class="button search_button">검색</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>

	<!-- Offers -->

	<div class="container">
		<div class="row">
			<div class="col-lg-1 temp_col"></div>
			<div class="col-lg-11">
				
				<!-- Offers Sorting -->
				<div class="offers_sorting_container">
					<ul class="offers_sorting">
						<li>
							<span class="sorting_text">price</span>
							<i class="fa fa-chevron-down"></i>
							<ul>
								<li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }' data-parent=".price_sorting"><span>show all</span></li>
								<li class="sort_btn" data-isotope-option='{ "sortBy": "price" }' data-parent=".price_sorting"><span>ascending</span></li>
							</ul>
						</li>
						<li>
							<span class="sorting_text">location</span>
							<i class="fa fa-chevron-down"></i>
							<ul>
								<li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>default</span></li>
								<li class="sort_btn" data-isotope-option='{ "sortBy": "name" }'><span>alphabetical</span></li>
							</ul>
						</li>
						<li>
							<span class="sorting_text">stars</span>
							<i class="fa fa-chevron-down"></i>
							<ul>
								<li class="filter_btn" data-filter="*"><span>show all</span></li>
								<li class="sort_btn" data-isotope-option='{ "sortBy": "stars" }'><span>ascending</span></li>
								<li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
								<li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
								<li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
							</ul>
						</li>
						<li class="distance_item">
							<span class="sorting_text">distance from center</span>
							<i class="fa fa-chevron-down"></i>
							<ul>
								<li class="num_sorting_btn"><span>distance</span></li>
								<li class="num_sorting_btn"><span>distance</span></li>
								<li class="num_sorting_btn"><span>distance</span></li>
							</ul>
						</li>
						<li>
							<span class="sorting_text">reviews</span>
							<i class="fa fa-chevron-down"></i>
							<ul>
								<li class="num_sorting_btn"><span>review</span></li>
								<li class="num_sorting_btn"><span>review</span></li>
								<li class="num_sorting_btn"><span>review</span></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-12">
				<!-- Offers Grid -->

				<div class="offers_grid">

					<!-- Offers Item -->

					<th:block th:each="list:${itemlist}">
					<div class="offers_item rating_4">
						<div class="row">
							<div class="col-lg-1 temp_col"></div>
							<div class="col-lg-3 col-1680-4">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@kensuarez -->
									<div class="offers_image_background" style="background-image:url(images/offer_1.jpg)"></div>
									<div class="offer_name"><a th:href="@{/single_listing(item_code=${list.item_code})}"><div th:text="${list.item_name}"></div></a></div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="offers_content">
									<div class="offers_price">₩40000<span>당일</span></div>
									<div class="rating_r rating_r_2 offers_rating" data-rating="2">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
									<p class="offers_text"><div th:text="${list.item_detail}"></div></p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="images/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="button book_button"><a href="#">예약하기<span></span><span></span><span></span></a></div>
									<div class="offer_reviews">
										<div class="offer_reviews_content">
											<div class="offer_reviews_title">very good</div>
											<div class="offer_reviews_subtitle">100 reviews</div>
										</div>
										<div class="offer_reviews_rating text-center">8.1</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</th:block>

					<!-- Offers Item -->

					<div class="offers_item rating_3">
						<div class="row">
							<div class="col-lg-1 temp_col"></div>
							<div class="col-lg-3 col-1680-4">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@thoughtcatalog -->
									<div class="offers_image_background" style="background-image:url(images/offer_5.jpg)"></div>
									<div class="offer_name"><a href="single_listing">대관령 투어 패키지</a></div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="offers_content">
									<div class="offers_price">₩180000<span>1박2일</span></div>
									<div class="rating_r rating_r_1 offers_rating" data-rating="1">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
									<p class="offers_text">드라마틱한 강원여행을 아름다운 ATHEMA와 함께 하세요~</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="images/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="button book_button"><a href="#">예약하기<span></span><span></span><span></span></a></div>
									<div class="offer_reviews">
										<div class="offer_reviews_content">
											<div class="offer_reviews_title">very good</div>
											<div class="offer_reviews_subtitle">100 reviews</div>
										</div>
										<div class="offer_reviews_rating text-center">8.1</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Offers Item -->

					<div class="offers_item rating_5">
						<div class="row">
							<div class="col-lg-1 temp_col"></div>
							<div class="col-lg-3 col-1680-4">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@mindaugas -->
									<div class="offers_image_background" style="background-image:url(images/offer_6.jpg)"></div>
									<div class="offer_name"><a href="single_listing">부여 열기구 하늘날기</a></div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="offers_content">
									<div class="offers_price">₩1900000<span>당일</span></div>
									<div class="rating_r rating_r_5 offers_rating"  data-rating="5">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
									<p class="offers_text">부여를 즐기는 특별한 방법 열기구 체험</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="images/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="button book_button"><a href="#">예약하기<span></span><span></span><span></span></a></div>
									<div class="offer_reviews">
										<div class="offer_reviews_content">
											<div class="offer_reviews_title">very good</div>
											<div class="offer_reviews_subtitle">100 reviews</div>
										</div>
										<div class="offer_reviews_rating text-center">8.1</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Offers Item -->

					<div class="offers_item rating_4">
						<div class="row">
							<div class="col-lg-1 temp_col"></div>
							<div class="col-lg-3 col-1680-4">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@rktkn -->
									<div class="offers_image_background" style="background-image:url(images/offer_7.jpg)"></div>
									<div class="offer_name"><a href="single_listing">로컬리안 트래블 포항 택시투어</a></div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="offers_content">
									<div class="offers_price">₩100000<span>당일</span></div>
									<div class="rating_r rating_r_2 offers_rating" data-rating="2">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
									<p class="offers_text">뚜벅러를 위한 프라이빗한 포항 자유여행</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="images/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="button book_button"><a href="#">예약하기<span></span><span></span><span></span></a></div>
									<div class="offer_reviews">
										<div class="offer_reviews_content">
											<div class="offer_reviews_title">very good</div>
											<div class="offer_reviews_subtitle">100 reviews</div>
										</div>
										<div class="offer_reviews_rating text-center">8.1</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Offers Item -->

					<div class="offers_item rating_3">
						<div class="row">
							<div class="col-lg-1 temp_col"></div>
							<div class="col-lg-3 col-1680-4">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@itsnwa -->
									<div class="offers_image_background" style="background-image:url(images/offer_8.jpg)"></div>
									<div class="offer_name"><a href="single_listing">경주 불국사 석굴암 세계문화유산 투어</a></div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="offers_content">
									<div class="offers_price">₩40000<span>당일</span></div>
									<div class="rating_r rating_r_3 offers_rating" data-rating="3">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</div>
									<p class="offers_text">알고보니 재미있는 신라유적의 백미 여행</p>
									<div class="offers_icons">
										<ul class="offers_icons_list">
											<li class="offers_icons_item"><img src="images/post.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/compass.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/bicycle.png" alt=""></li>
											<li class="offers_icons_item"><img src="images/sailboat.png" alt=""></li>
										</ul>
									</div>
									<div class="button book_button"><a href="#">예약하기<span></span><span></span><span></span></a></div>
									<div class="offer_reviews">
										<div class="offer_reviews_content">
											<div class="offer_reviews_title">very good</div>
											<div class="offer_reviews_subtitle">100 reviews</div>
										</div>
										<div class="offer_reviews_rating text-center">8.1</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>		
</div>