<!-- ORDER -->
<link rel="stylesheet" type="text/css" href="styles/order_detail_style.css">
<link rel="stylesheet" type="text/css" href="styles/order_detail_responsive.css">
<style>
.ord_main{width:80%; height:30vh; margin: 150px auto; border: 1px solid red;}
.mypage_menu{width:20%; border: 1px solid green; float: left;}
.ord_content{width:78%; border: 1px solid blue;  float: right;}
</style>
<div class="ord_main">
<h1>나의 페이지</h1>
	<div class="mypage_menu">
		<ul>
			<li>설정</li>
			<li><a href="#">계정 정보</a></li>
		</ul>
		<ul>
			<li>여행 관리</li>
			<li><a href="#">예정된 여행</a><ul><li><a href="#">지난 여행</a></li></ul></li>
			<li><a href="#">나의 후기</a></li>
			<li><a href="#">위시리스트</a></li>
		</ul>
		<ul>
			<li>고객지원</li>
			<li><a href="#">공지사항</a></li>
			<li><a href="#">나의 문의</a></li>
		</ul>
	</div>
	<div class="ord_content">
		<div>나의 여행</div>
		<div><time datetime="2023-03-31">2023년 3월 31일</time></div>
		<div>경주 여행</div>
		<div>이미지</div>
		<div>상품명</div>
		<div>옵션</div>
		<div>유효기간 <time datetime="2023-12-31">2023년 12월 31일까지</time></div>
		<div>결제 정보</div>
		<div>상세보기</div>
	</div>
</div>