<!-- CSS -->
<link rel="stylesheet" type="text/css" href="styles/register_styles.css">
<link rel="stylesheet" type="text/css" href="styles/register_responsive.css">

<!-- login_home -->

<div class="register_home">
	<div class="register_content">
		<div class="register_title">회원가입</div>
		<div class="title_desc">나를 위한 여행테마 추천, Athema</div>
		<div class="sns_content">
			<hr style="width:30%; display:inline-block; color: rgba(0,0,0,0.55);"><br>
			<div class="sns_register_txt">간편 회원가입</div><br>
				<div class="sns_register">
				<a id="kakao-login-btn" href="javascript:loginWithKakao()">
	 			 <img th:src="@{/images/kakao_login.png}" width="222" alt="카카오 로그인 버튼" style="width:160px;"/></a>
				<p id="token-result"></p>
			</div>
			<hr style="width:30%; display:inline-block; color: rgba(0,0,0,0.55);"><br>
		</div>
        <!-- 회원가입 폼 -->
		<form method="post" id="register_form" action="#">
			<input type="hidden" name="redirectUrl" value="register">
			<div class="box_register" >
		        <!-- 이름 -->
				<div class="field">
        			<b>이름</b>
           			<input class="mem_name" type="text">
     			</div>
		        <!-- 아이디 -->
				<div class="field">
        			<b>아이디</b>
           			<input class="mem_id" type="text" placeholder="4~10자 이내로 입력">
     			</div>
		        <!-- 비밀번호 -->
      			<div class="field">
      				<b>비밀번호</b>
      				<input class="mem_pwd" type="password" placeholder="6~15자 이내의 알파벳, 숫자 필수">
      			</div>
		        <div class="field">
					<b>비밀번호 확인</b>
					<input class="mem_pwd_confirm" type="password" placeholder="비밀번호를 한번 더 입력하세요">
		        </div>
			    <!-- 닉네임 -->
				<div class="field">
        			<b>닉네임</b>
           			<input class="mem_nick" type="text">
     			</div>

		        <!-- 전화번호 -->
		        <div class="field tel-number">
		            <b>전화번호</b>
	                <input type="tel" placeholder="전화번호 입력">
		        </div>

		        <!-- 이메일 -->
		        <div class="field">
					<b>이메일</b>
					<span class="placehold-text"><input class="mem_email" type="text" placeholder="example@athema.com"></span>
		        </div>
		
		        <!-- 생년월일 -->
		        <div class="field birth">
					<b>생년월일<span style="color:#808080; font-size:0.75em;"> (선택사항)</span></b>
					<input type="date" name="mem_date" data-placeholder="날짜 선택" required
					aria-required="true"></input>
				</div>
				
				<!-- 개인정보 수집 동의 -->
				<div class="join_box">
					<div class="private">
						<b name="private">개인정보 수집 동의</b>
					</div>
	                <div class="checkBox check01">
	                    <div class="clearfix">
	                        <input type="checkbox" name="chkAll" id="chk" class="chkAll">
	                        <b>이용약관, 개인정보 수집 및 이용, 프로모션 안내(선택)에 모두 동의합니다.</b>
	                    </div>
	                </div>
	                <div class="checkBox check02">
	                    <div class="clearfix">
	                        <b>이용약관 동의(필수)</b>
	                        <input type="checkbox" name="chk"> 
	                    </div>
	                    <textarea name="check_text">여러분을 환영합니다. 어테마 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 어테마 서비스의 이용과 관련하여 어테마 서비스를 제공하는 어테마 주식회사(이하 ‘어테마’)와 이를 이용하는 어테마 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 어테마 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
	       				</textarea>
	                </div>
	                <div class="checkBox check03">
	                    <div class="clearfix">
	                        <b>개인정보 수집 및 이용에 대한 안내(필수)</b>
	                        <input type="checkbox" name="chk">
	                    </div>
	                  	<textarea name="check_text">여러분을 환영합니다. 어테마 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 어테마 서비스의 이용과 관련하여 어테마 서비스를 제공하는 어테마 주식회사(이하 ‘어테마’)와 이를 이용하는 어테마 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 어테마 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
	      				</textarea>
	                </div>
	                <div class="checkBox check04">
	                    <div class="clearfix">
	                        <b>이벤트 등 프로모션 알림 메일 수신(선택)</b>
	                        <input type="checkbox" name="chk">
	                    </div>
	                  	<textarea name="check_text">여러분을 환영합니다. 어테마 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 어테마 서비스의 이용과 관련하여 어테마 서비스를 제공하는 어테마 주식회사(이하 ‘어테마’)와 이를 이용하는 어테마 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 어테마 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
	      				</textarea>
	                </div>
           		</div>
		        <!-- 가입하기 버튼 -->
		        <a th:href="@{/member/welcome}" id="register_submit">가입하기</a>
			</div>
		</form>
	</div>
</div>

<!-- login_add -->

<div class="login_add">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="login_add_container">
					<div class="login_add_background"
						style="background-image: url(images/add.jpg)"></div>
					<div class="login_add_content">
						<h1 class="login_add_title">thailand</h1>
						<div class="login_add_subtitle">
							From <span>$999</span>
						</div>
						<div class="button login_add_button">
							<div class="button_bcg"></div>
							<a href="#">explore now<span></span><span></span><span></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- script -->

<!-- KAKAO LOGIN SDK -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script>
Kakao.init('7b732d1920e780fb62e9946f23fabf12');
console.log(Kakao.isInitialized());

function loginWithKakao() {
    Kakao.Auth.authorize({
    	redirectUri: 'http://127.0.0.1/member/kakao',
    });
  }
</script>

