<!-- CSS -->
<head>
<link rel="stylesheet" type="text/css" th:href="@{/styles/register_result.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/register_result_responsive.css}">

<!-- JS -->
<script>
	function gotomain() {
		location.href = "[[@{/login}]]"
	}
</script>
</head>

<div class="register_result">
	<div class="result_ok_content">
		<div id="rcontainer">
			<h5 th:text="${rname}+'님, Athema 회원이 되신 것을 환영합니다!'"></h5>
			<div id="registerok">
				<p th:text="'가입 이메일 : '+${remail}">가입 email</p>
			</div>
			<p><a href="#" th:onclick="gotomain()" class="button_bcg">&#128681; LOG into ATHEMA</a></p>
		</div>
	</div>
</div>