<!-- attribute : item, options -->

<!-- SINGLE_LISTING -->
<link rel="stylesheet" type="text/css" href="styles/single_listing_styles.css">
<link rel="stylesheet" type="text/css" href="styles/single_listing_responsive.css">
<link rel="stylesheet" type="text/css" href="styles/review.css">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/headfoot_responsive.css}">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/about_background.jpg"></div>
	<div class="home_content">
		<div class="home_title">테마여행 찾기</div>
	</div>
</div>

<!-- Offers -->

<div class="listing">

	<!-- Search -->

	<div class="search">
		<div class="search_inner">

			<!-- Search Contents -->
			
			<div class="container fill_height no-padding">
				<div class="row fill_height no-margin">
					<div class="col fill_height no-padding">

						<!-- Search Tabs -->

						<div class="offers_search_tabs_container">
							<div class="offers_search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="offers_search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/suitcase.png" alt=""><span>테마</span></div>
								<div class="offers_search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/bus.png" alt="">지역</div>
							</div>		
						</div>

						<!-- Search Panel -->

						<div class="search_panel active">
							<form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_1" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_1" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<div class="extras">
									<div class="search_item"><div><b>테마를 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">가족</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">우정</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">효도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">커플</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">솔로</label>
											</div>
										</li>
									</ul>
								</div>
								<button class="button search_button">검색</button>
							</form>
						</div>

						<!-- Search Panel -->

						<div class="search_panel">
							<form action="#" id="search_form_2" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="extras">
									<div class="search_item"><div><b>지역을 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">서울</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">인천</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">부산</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">광주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">제주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경기도</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">강원도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">충청도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">전라도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경상도</label>
											</div>	
										</li>
									</ul>
								</div>
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_2" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_2" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<button class="button search_button">검색</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>

	<!-- Single Listing -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="single_listing">
					
					<!-- Hotel Info -->

					<div class="hotel_info">

						<!-- Title -->
						<div class="hotel_title_container d-flex flex-lg-row flex-column">
							<div class="hotel_title_content">
								<h1 class="hotel_title"><div th:text="${item.item_name}"></div></h1>
								<div class="rating_r rating_r_2 hotel_rating">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</div>
								<div class="hotel_location" th:text=${item.item_loc}></div>
							</div>
							<div class="hotel_title_button ml-lg-auto text-lg-right">
								<form>
									<select name="opt_name">
										<th:block th:each="opt:${options}">
										<option th:value="${opt.opt_code}" th:text="${opt.opt_name}"></option>
										</th:block>
									</select>
									<input type="number" name="opt_quantity">
									<div class="opt_price"></div>
								</form>
								<div class="button book_button trans_200">예약하기<span></span><span></span><span></span></div>
								<div class="hotel_map_link_container">
									<div class="hotel_map_link">See Location on Map</div>
								</div>
							</div>
						</div>

						<!-- Listing Image -->

						<div class="hotel_image">
							<img src="images/kyungju/kyungju_csd_main.jpg">
							<div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
								<div class="hotel_review">
									<div class="hotel_review_content">
										<div class="hotel_review_title">very good</div>
										<div class="hotel_review_subtitle">100 reviews</div>
									</div>
									<div class="hotel_review_rating text-center">8.1</div><!-- review평균평점 구해서 넣기 -->
								</div>
							</div>
						</div>

						<!-- Hotel Gallery -->

						<div class="hotel_gallery">
							<div class="hotel_slider_container">
								<div class="owl-carousel owl-theme hotel_slider">

									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd1.jpg">
											<img src="images/kyungju/kyungju_csd1.jpg" alt="https://unsplash.com/@jbriscoe">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd2.jpg">
											<img src="images/kyungju/kyungju_csd2.jpg" alt="https://unsplash.com/@grovemade">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd3.jpg">
											<img src="images/kyungju/kyungju_csd3.jpg" alt="https://unsplash.com/@fransaraco">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd4.jpg">
											<img src="images/kyungju/kyungju_csd4.jpg" alt="https://unsplash.com/@workweek">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd5.jpg">
											<img src="images/kyungju/kyungju_csd5.jpg" alt="https://unsplash.com/@workweek">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd6.jpg">
											<img src="images/kyungju/kyungju_csd6.jpg" alt="https://unsplash.com/@avidenov">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd7.jpg">
											<img src="images/kyungju/kyungju_csd7.jpg" alt="https://unsplash.com/@pietruszka">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd8.jpg">
											<img src="images/kyungju/kyungju_csd8.jpg" alt="https://unsplash.com/@rktkn">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd9.jpg">
											<img src="images/kyungju/kyungju_csd9.jpg" alt="https://unsplash.com/@mindaugas">
										</a>
									</div>
								</div>

								<!-- Hotel Slider Nav - Prev -->
								<div class="hotel_slider_nav hotel_slider_prev">
									<svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
										<defs>
											<linearGradient id='hotel_grad_prev'>
												<stop offset='0%' stop-color='#fa9e1b'/>
												<stop offset='100%' stop-color='#8d4fff'/>
											</linearGradient>
										</defs>
										<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z"/>
										<polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
										11.042,18.219 "/>
									</svg>
								</div>
								
								<!-- Hotel Slider Nav - Next -->
								<div class="hotel_slider_nav hotel_slider_next">
									<svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
										<defs>
											<linearGradient id='hotel_grad_next'>
												<stop offset='0%' stop-color='#fa9e1b'/>
												<stop offset='100%' stop-color='#8d4fff'/>
											</linearGradient>
										</defs>
									<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
									M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
									C22.545,2,26,5.541,26,9.909V23.091z"/>
									<polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
									17.046,15.554 "/>
									</svg>
								</div>

							</div>
						</div>

						<!-- Hotel Info Text -->

						<div class="hotel_info_text">
							<p th:text="${item.item_detail}"></p>
						</div>

						<!-- Hotel Info Tags -->

						<div class="hotel_info_tags">
							<ul class="hotel_icons_list">
								<li class="hotel_icons_item"><img src="images/post.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/compass.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/bicycle.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/sailboat.png" alt=""></li>
							</ul>
						</div>

					</div>
					
					<!-- Reviews -->
					<div class="RV">여행 리뷰</div>
					<div class="box">
						<div class="tab">
							<div class="rv_title">가족여행 다녀왔어요
								<div class="nik">ppororo89</div>
								<div class="date">2022-03-12</div>
								<div class="r_rating">4.5</div>
								<ul>
									<li id="photo"> 
									<img src="images/offer_3.jpg" alt="리뷰사진" ></li>
										
									<li id="text">
									<span><a href="#">가족들과 경주여행 즐겁고 행복한 시간 어쩌구였어요
									만족스러운 여행이고 아주 장관이고 절경이고 신이주신 선물이네요</a></span> 
									</li>
								</ul>
							</div>  
					 		
							<div class="rv_title">혼자서도 경주여행 good
								<div class="nik">loopy123</div>
								<div class="date">2022-09-22</div>
								<div class="r_rating">3.0</div>
								<ul>
									<li id="photo"> 
									<img src="images/offer_3.jpg" alt="리뷰사진" ></li>
									
									<li id="text">
									<span><a href="#">혼자서도 행복한 시간 어쩌구였어요
									혼자가 더 재미있다!혼자가 대세다!혼자가 즐겁다!와아아아</a></span> 
									</li>
								</ul>
							</div>
					 		
					 		
					 		<div class="rv_title">살아 있는 역사
								<div class="nik">poby55</div>
								<div class="date">2022-11-15</div>
								<div class="r_rating">4.7</div>
								<ul>
									<li id="photo"> 
									<img src="images/offer_3.jpg" alt="리뷰사진" ></li>
									
									<li id="text">
									<span><a href="#">리뷰를 어쩌구 저쩌구 와라라라라라라라라라ㅏ라라라ㅏ랄 
									동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세 무궁화 삼천리
									화려강산 대한사람 대한으로 길이 보전하세 남산 위에 저 소나무 철갑을 두른 듯
									바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 
									보전하세 가을하늘 공활한데 높고 구름없이 밝은 달은 우리 가슴 일편 단심일세</a></span> 
									</li>
								</ul>
							</div> 
					 		
						 	<div class="rv_title">경주 크롱이가 왔다 감~
								<div class="nik">crongs2</div>
								<div class="date">2021-04-29</div>
								<div class="r_rating">2.5</div>
								<ul>
									<li id="photo"> 
									<img src="images/offer_3.jpg" alt="리뷰사진" ></li>
									
									<li id="text">
									<span><a href="#">와아아아아아아</a></span> 
									</li>
								</ul>
					 		</div>
					 		
					 		<!-- +모양 더보기 -->
					 		<div class="more">
								<div class="cross_all">	<!-- 새 창으로 띄워짐. -->
									<div id="cross"></div>
								</div>
					 		</div>
						</div>
					</div>
					  
					<!-- 모달창에 띄울 내용 -->  
					<script type="text/javascript" src="js/review_modal.js"></script>
					
					<div id="r_modal">	
						<a class="modal_close_btn" href="#review">CLOSE</a>
						<div class="RV2">여행 리뷰</div>
						
						<hr class="line">	<!-- 선 하나 긋기 -->
						
						<div class="md_top">
							<div class="mem_img">
								<img src="images/review_1.jpg" alt="https://unsplash.com/@saaout">
							</div>
						 
							<div class="md_rv_title">에디가 좋아하는 경주
								<div class="md_nik">Eddy777</div>
								<div class="md_date">2021-04-29</div>
								<div class="md_r_rating">3.5</div>
							</div>
						</div>
						
						<div class="md_content">
							<ul>
								<li id="p_1"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_2"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_3"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_4"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_5"><img src="images/offer_3.jpg" alt="리뷰사진" ></li> 
							</ul> 
							<div id="md_text">
								와아아아아아아 어쩌구 저쩌구 후기를 남겨보겠습니다
								이 노래는 it's about you baby Only you 내가 힘들 때 울 것 같을 때 기운도 이젠 나지 않을 때 It's you 날 걱정하네 It's you 날 웃게하네
								말 안 해도 돼 Boy what do you say (They keep on asking me, “who is he?”) 멀리든 언제든지 달려와 (They keep on asking me, “who is he?”) 
								바쁜 척도 없이 넌 나타나 (They keep on asking me, “who is he?”)이게 말이 되니 난 물어봐 (They keep on asking me, “who is he?”) 너는 말야 He's the one that's living in my system baby 
								Oh my oh my God 예상했어 나 I was really hoping That he will come through Oh my oh my God 단 너뿐이야 Asking all the time about what I should do No I can never let him go
								너만 생각나 24 난 행운아야 정말로 I know, I know 널 알기 전까지는 나 의미 없었어 전부 다 내 맘이 끝이 없는 걸 I know, I know I'm going crazy right? 어디서든 몇 번이든
								There ain't nothing else that I would hold on to I hear his voice Through all the noise 잠시라도 내 손 놓지 마 no, no
								걱정 없잖아 'Cause I got someone 혼자라도 괜찮아 'Cause I love someone (They keep on asking me, “who is he?”) 멀리든 언제든지 달려와 (They keep on asking me, “who is he?”)
								바쁜 척도 없이 넌 나타나 (They keep on asking me, “who is he?”) 이게 말이 되니 난 물어봐 (They keep on asking me, “who is he?”)
								너는 말야 He's the one that's living in my system baby Oh my oh my God 예상했어 나 I was really hoping That he will come through
								Oh my oh my God 단 너뿐이야 Asking all the time about what I should do No I can never let him go 너만 생각나 24 난 행운아야 정말로 I know, I know 널 알기 전까지는 나 의미 없었어 전부 다
								내 맘이 끝이 없는 걸 I know, I know 너와 나 My heart is glowing It's glowing up 너랑만 있으면 무서울 게 없어 가득 메워진, 다 메워진 (붉어진) My heart is glowing, it'd be glowing 'Cause he
								Oh my oh my God 예상했어 나 I was really hoping That he will come through Oh my oh my God 단 너뿐이야 Asking all the time about what I should do No I can never let him go
								너만 생각나 24 난 행운아야 정말로 I know, I know 널 알기 전까지는 나 의미 없었어 전부 다 어떡해 My heart is glowing, it's glowing My heart is glowing up So I can't sleep at night
							</div>
						</div>
					
						<hr class="line">	<!-- 선 하나 긋기 -->
							
						<div class="md_top">
							<div class="mem_img">
						 		<img src="images/review_1.jpg" alt="https://unsplash.com/@saaout">
							</div>
						 
							<div class="md_rv_title">경주 추천!!
								<div class="md_nik">s2_harry</div>
								<div class="md_date">2020-10-09</div>
								<div class="md_r_rating">3.5</div>
							</div>
						</div>
						
						<div class="md_content">
							<ul>
								<li id="p_1"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_2"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_3"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_4"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_5"><img src="images/offer_3.jpg" alt="리뷰사진" ></li> 
							</ul> 
							<div id="md_text">
								가족들과 여행하기도 좋고 역사 공부하기도 좋아요. 추천합니다^^
							</div>
						</div>
						
						<hr class="line">	<!-- 선 하나 긋기 -->
							
						<div class="md_top">
							<div class="mem_img">
						 		<img src="images/review_1.jpg" alt="https://unsplash.com/@saaout">
							</div>
						 
							<div class="md_rv_title">더워요
								<div class="md_nik">Petty6565</div>
								<div class="md_date">2019-08-01</div>
								<div class="md_r_rating">2.5</div>
							</div>
						</div>
						
						<div class="md_content">
							<ul>
								<li id="p_1"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_2"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_3"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_4"><img src="images/offer_3.jpg" alt="리뷰사진" ></li>
								<li id="p_5"><img src="images/offer_3.jpg" alt="리뷰사진" ></li> 
						    </ul> 
							<div id="md_text">
								여름에는 비추천...너무 덥고 습하고...경주는 야외 유적물들을 보면서 걸어다니는게 주가 되는 여행인데 너무 더워서 걸을 수가 없었어요
								내내 밖에 있었더니 더위에 지쳤습니다. 더위 피하느라 계속 실내 공간을 찾아 다녀야 했고..밖은 덥고 카페는 추워서 온도 차이가 나는 곳을
								오가다 보니 여름 감기에 걸렸습니다...
							</div>
						</div>
						
						<hr class="line">	<!-- 선 하나 긋기 -->
					</div>
					

					<!-- Location on Map -->

					<div class="location_on_map">
						<div class="location_on_map_title">지도로 위치 확인하기</div>

						<!-- Google Map -->
	
						<div class="travelix_map">
							<div id="google_map" class="google_map">
								<div class="map_container">
									<div id="map"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>		
</div>