<!-- SINGLE_LISTING -->
<link rel="stylesheet" type="text/css" href="styles/single_listing_styles.css">
<link rel="stylesheet" type="text/css" href="styles/single_listing_responsive.css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/about_background.jpg"></div>
	<div class="home_content">
		<div class="home_title">테마여행 찾기</div>
	</div>
</div>

<!-- Offers -->

<div class="listing">

	<!-- Search -->

	<div class="search">
		<div class="search_inner">

			<!-- Search Contents -->
			
			<div class="container fill_height no-padding">
				<div class="row fill_height no-margin">
					<div class="col fill_height no-padding">

						<!-- Search Tabs -->

						<div class="offers_search_tabs_container">
							<div class="offers_search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="offers_search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/suitcase.png" alt=""><span>테마</span></div>
								<div class="offers_search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="images/bus.png" alt="">지역</div>
							</div>		
						</div>

						<!-- Search Panel -->

						<div class="search_panel active">
							<form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_1" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_1" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<div class="extras">
									<div class="search_item"><div><b>테마를 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">가족</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">우정</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">효도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">커플</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">솔로</label>
											</div>
										</li>
									</ul>
								</div>
								<button class="button search_button">검색</button>
							</form>
						</div>

						<!-- Search Panel -->

						<div class="search_panel">
							<form action="#" id="search_form_2" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
								<div class="extras">
									<div class="search_item"><div><b>지역을 선택하세요</b></div></div>
									<ul class="search_extras clearfix">
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">서울</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_2" class="search_extras_cb">
												<label for="search_extras_2">인천</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">부산</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">광주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">제주</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경기도</label>
											</div>	
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_3" class="search_extras_cb">
												<label for="search_extras_3">강원도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_4" class="search_extras_cb">
												<label for="search_extras_4">충청도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_5" class="search_extras_cb">
												<label for="search_extras_5">전라도</label>
											</div>
										</li>
										<li class="search_extras_item">
											<div class="clearfix">
												<input type="checkbox" id="search_extras_1" class="search_extras_cb">
												<label for="search_extras_1">경상도</label>
											</div>	
										</li>
									</ul>
								</div>
								<!-- <div class="search_item">
									<div>destination</div>
									<input type="text" class="destination search_input" required="required">
								</div>
								<div class="search_item">
									<div>check in</div>
									<input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>check out</div>
									<input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
								</div>
								<div class="search_item">
									<div>adults</div>
									<select name="adults" id="adults_2" class="dropdown_item_select search_input">
										<option>01</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div>
								<div class="search_item">
									<div>children</div>
									<select name="children" id="children_2" class="dropdown_item_select search_input">
										<option>0</option>
										<option>02</option>
										<option>03</option>
									</select>
								</div> -->
								<button class="button search_button">검색</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
		</div>	
	</div>

	<!-- Single Listing -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="single_listing">
					
					<!-- Hotel Info -->

					<div class="hotel_info">

						<!-- Title -->
						<div class="hotel_title_container d-flex flex-lg-row flex-column">
							<div class="hotel_title_content">
								<h1 class="hotel_title">경주 대릉원 첨성대 야경</h1>
								<div class="rating_r rating_r_2 hotel_rating">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</div>
								<div class="hotel_location">경북 경주시 인왕동 839-1번지</div>
							</div>
							<div class="hotel_title_button ml-lg-auto text-lg-right">
								<div class="button book_button trans_200"><a href="#">예약하기<span></span><span></span><span></span></a></div>
								<div class="hotel_map_link_container">
									<div class="hotel_map_link">See Location on Map</div>
								</div>
							</div>
						</div>

						<!-- Listing Image -->

						<div class="hotel_image">
							<img src="images/kyungju/kyungju_csd_main.jpg">
							<div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
								<div class="hotel_review">
									<div class="hotel_review_content">
										<div class="hotel_review_title">very good</div>
										<div class="hotel_review_subtitle">100 reviews</div>
									</div>
									<div class="hotel_review_rating text-center">8.1</div>
								</div>
							</div>
						</div>

						<!-- Hotel Gallery -->

						<div class="hotel_gallery">
							<div class="hotel_slider_container">
								<div class="owl-carousel owl-theme hotel_slider">

									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd1.jpg">
											<img src="images/kyungju/kyungju_csd1.jpg" alt="https://unsplash.com/@jbriscoe">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd2.jpg">
											<img src="images/kyungju/kyungju_csd2.jpg" alt="https://unsplash.com/@grovemade">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd3.jpg">
											<img src="images/kyungju/kyungju_csd3.jpg" alt="https://unsplash.com/@fransaraco">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd4.jpg">
											<img src="images/kyungju/kyungju_csd4.jpg" alt="https://unsplash.com/@workweek">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd5.jpg">
											<img src="images/kyungju/kyungju_csd5.jpg" alt="https://unsplash.com/@workweek">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd6.jpg">
											<img src="images/kyungju/kyungju_csd6.jpg" alt="https://unsplash.com/@avidenov">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd7.jpg">
											<img src="images/kyungju/kyungju_csd7.jpg" alt="https://unsplash.com/@pietruszka">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd8.jpg">
											<img src="images/kyungju/kyungju_csd8.jpg" alt="https://unsplash.com/@rktkn">
										</a>
									</div>

									<!-- Hotel Gallery Slider Item -->
									<div class="owl-item">
										<a class="colorbox cboxElement" href="images/kyungju/kyungju_csd9.jpg">
											<img src="images/kyungju/kyungju_csd9.jpg" alt="https://unsplash.com/@mindaugas">
										</a>
									</div>
								</div>

								<!-- Hotel Slider Nav - Prev -->
								<div class="hotel_slider_nav hotel_slider_prev">
									<svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
										width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
										<defs>
											<linearGradient id='hotel_grad_prev'>
												<stop offset='0%' stop-color='#fa9e1b'/>
												<stop offset='100%' stop-color='#8d4fff'/>
											</linearGradient>
										</defs>
										<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
										C22.545,2,26,5.541,26,9.909V23.091z"/>
										<polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
										11.042,18.219 "/>
									</svg>
								</div>
								
								<!-- Hotel Slider Nav - Next -->
								<div class="hotel_slider_nav hotel_slider_next">
									<svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
										<defs>
											<linearGradient id='hotel_grad_next'>
												<stop offset='0%' stop-color='#fa9e1b'/>
												<stop offset='100%' stop-color='#8d4fff'/>
											</linearGradient>
										</defs>
									<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
									M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
									C22.545,2,26,5.541,26,9.909V23.091z"/>
									<polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
									17.046,15.554 "/>
									</svg>
								</div>

							</div>
						</div>

						<!-- Hotel Info Text -->

						<div class="hotel_info_text">
							<p>경주에서도 야경이 아름다운 문화재 3곳을 한 번에 둘러볼 수 있는 상품</p>
						</div>

						<!-- Hotel Info Tags -->

						<div class="hotel_info_tags">
							<ul class="hotel_icons_list">
								<li class="hotel_icons_item"><img src="images/post.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/compass.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/bicycle.png" alt=""></li>
								<li class="hotel_icons_item"><img src="images/sailboat.png" alt=""></li>
							</ul>
						</div>

					</div>
					
					<!-- Reviews -->

					<div class="reviews">
						<div class="reviews_title">리뷰</div>
						<div class="reviews_container">

							<!-- Review -->
							<div class="review">
								<div class="row">
									<div class="col-lg-1">
										<div class="review_image">
											<img src="images/review_1.jpg" alt="https://unsplash.com/@saaout">
										</div>
									</div>
									<div class="col-lg-11">
										<div class="review_content">
											<div class="review_title_container">
												<div class="review_title">가족끼리 가기 참 좋은 곳</div>
												<div class="review_rating">9.5</div>
											</div>
											<div class="review_text">
												<p>아이가 역사를 좋아해서 왔는데 많은 공부가 됐다고 합니다^^</p>
											</div>
											<div class="review_name">홍길동</div>
											<div class="review_date">2022년 5월 3일</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Review -->
							<div class="review">
								<div class="row">
									<div class="col-lg-1">
										<div class="review_image">
											<img src="images/review_2.jpg" alt="Image by Andrew Robles">
										</div>
									</div>
									<div class="col-lg-11">
										<div class="review_content">
											<div class="review_title_container">
												<div class="review_title">여름에는 가지마세요</div>
												<div class="review_rating">6</div>
											</div>
											<div class="review_text">
												<p>이동할때 차 타기엔 가까워서 걸어다녔는데 온 몸이 땀 범벅이네요...가을에 오면 딱 좋을 듯 싶습니다.</p>
											</div>
											<div class="review_name">박형석</div>
											<div class="review_date">2021년 7월 2일</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- Location on Map -->

					<div class="location_on_map">
						<div class="location_on_map_title">지도로 위치 확인하기</div>

						<!-- Google Map -->
	
						<div class="travelix_map">
							<div id="google_map" class="google_map">
								<div class="map_container">
									<div id="map"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>		
</div>