<!-- page-header-start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">Styleguide</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Styleguide</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb30">
                    <h1 class="mb20">Font Family</h1>
                    <h3>Heading Fonts : Open Sans</h3>
                    <h3>Base Fonts : Open Sans </h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb30">
                    <h1>Heading title    -    32px</h1>
                    <h2>Heading title    -    24px</h2>
                    <h3>Heading title    -    22px</h3>
                    <h4>Heading title   -    16px</h4>
                    <h5>Heading title    -    15px</h5>
                    <h6>Heading title    -    12px</h6>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30">
                    <h1 class="mb20">Colors</h1>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                            <div class="box-default-color"> </div>
                            <div class="box-info">
                                <h6 class="mt20">DEFAULT</h6>
                                <h5>#4d8638</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                            <div class="box-primary-color"> </div>
                            <div class="box-info">
                                <h6 class="mt20">PRIMARY</h6>
                                <h5>#ffe451</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                            <div class="box-heading-color"></div>
                            <div class="box-info">
                                <h6 class="mt20">HEADING</h6>
                                <h5>#333333</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                            <div class="box-secondary-color"> </div>
                            <div class="box-info">
                                <h6 class="mt20">BASE</h6>
                                <h5>#5f5f5f</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                            <div class="box-bg-color"> </div>
                            <div class="box-info">
                                <h6 class="mt20">BG COLOR</h6>
                                <h5>#f0efe8</h5>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30">
                    <h1 class="mb20">Base Copy</h1>
                    <p>Lorem ipsum dolor sit ametest link adipiscing elitullam dignissim convallis esuisque aliquamonec faucibuunc iaculis suscipit duiam sit amet sem Aliquam libero nisi imperdiet atincidunt nec gravida vehicula nisraesent mattis massa quis luctus fermentum turpis mi volutpat justoeu volutpat enim diam eget metusaecenas ornare toronec sed tellus eget sapien fringilla nonumm aurisa anteusp endisse quam seconsequat commodo vitae feugiat in nuncorbi mperdiet augue quislorem tellusorbi aliquam semper nibh aliquam variusnisl sagittis facilisis raesent convallis venenatis dolor a cursus ipsum imperdiet etIn pretium ligula elitt lorem ipsuk egestas purus aliquam ided ultrices tortordolor at commodo metus pulvinar velInteger dictum nisl id magna condimentum eleifend. </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30">
                    <h1 class="mb20">List Types</h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2 class="mb10">Unordered List</h2>
                            <ul class="">
                                <li>Interdum et malesuada fames acante.</li>
                                <li>Pellentesque auctor felisid maximus aliquet.</li>
                                <li>Interdum et malesuada fames acante.</li>
                                <li>Phasellus vitae dictum diam vitae condime.</li>
                                <li>Aliquam hendrerit tempus neque a eleifend. </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h2 class="mb10">Unordered List</h2>
                            <ol class="">
                                <li>Interdum et malesuada fames acante.</li>
                                <li>Pellentesque auctor felisid maximus aliquet.</li>
                                <li>Interdum et malesuada fames acante.</li>
                                <li>Phasellus vitae dictum diam vitae condime.</li>
                                <li>Aliquam hendrerit tempus neque a eleifend. </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="mb40">Buttons</h1>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <a href="#" class="btn btn-default btn-lg mb10">Button Default</a> <a href="#" class="btn btn-primary btn-lg">Button Prmary</a>
                        <hr>
                        <a href="#" class="btn btn-default mb10">Button Default</a> <a href="#" class="btn btn-primary">Button Primary</a>
                        <hr>
                        <a href="#" class="btn btn-default btn-sm mb10">Button Default</a> <a href="#" class="btn btn-primary btn-sm">Button Primary</a>
                        <hr>
                        <a href="#" class="btn btn-default btn-xs mb10">Button Default</a> <a href="#" class="btn btn-primary btn-xs">Button Primary</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>