<!-- page-header-start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="page-section">
                    <h1 class="page-title">Testimonials</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Testimonials</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- Testimonials-section start -->
<div class="bg-default space-medium">
    <div class="container">
        <div class="testimonial-wrapper">
            <div class="row">
                <!-- Testimonials-one-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-1.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Paul Hasburg</h4>
                            <span class="location">Kerala</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">“I love this tour. We have enough time to fully experience the Kerala. I have the opportunity to show my region, thank you" </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials-one-close -->
                <!-- Testimonials-two-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-2.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Plisa Moody</h4>
                            <span class="location">Kullu-manali</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">“You were an excellent Travel Agency for us! It was invaluable trip to kullu-manali & You considered our unique needs, thank you ”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials-two-start -->
                <!-- Testimonials-three-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-3.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-3.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Christine Smith</h4>
                            <span class="location">Turkey</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">“Suspendisse vitaea enim dictum fringilla ullam interdum atelit id vestibulum TURKEY aecenas viverra risusit amet quam consectetu, thank you”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials-three-close -->
            </div>
        </div>
        <div class="testimonial-wrapper">
            <div class="row">
                <!-- Testimonials-four-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-4.jpg" alt="Tour and Travel Agency - Responsive Website Template"></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-4.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Natalie Ramos</h4>
                            <span class="location">Thailand</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">“Quisque sit amet semper nislut blandit metus estibulum thailand nibhquis pellentesque pretium diam ante gravida turpis, thank you”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials-four-close -->
                <!-- Testimonials-five-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-5.jpg" alt=""></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-5.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Andrea Nowell</h4>
                            <span class="location">Kuchh-bhuj</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">"Donec egestas pulvinar sapien is ornare ligula just in hendrerit massa placerat velliquam kuchh-bhuj aliquet, thank you" </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials-five-close -->
                <!-- Testimonials-six-start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="testimonial-block">
                        <div class="testimonial-img"><img src="images/testimonial-img-6.jpg" alt=""></div>
                        <div class="testimonial-user-img"><img src="images/testimonial-user-img-6.jpg" alt="Tour and Travel Agency - Responsive Website Template" class="img-circle"></div>
                        <div class="testimonial-content">
                            <h4>Christine Smith</h4>
                            <span class="location">Greece</span>
                            <div class="rating"> <span> <i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> <span><i class="fa fa-star"></i> </span> </div>
                            <div>
                                <p class="testimonial-text">"Posuere vellacus Greece cipitvene natis ante liquam et nulla arcu aliquam vitae est mattisam interdum mollis felis, thank you ”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonials-six-close -->
        </div>
    </div>
</div>