<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.CategoryMapper">
	<select id="select" parameterType="Integer" resultType="CategoryDTO">
		SELECT * FROM category where cate_code=#{cate_code} 
	</select>
	<select id="selectall" resultType="CategoryDTO">
		SELECT * FROM category
	</select>
	<insert id="insert" parameterType="CategoryDTO">
		INSERT INTO category VALUES (cate_code, #{cate_name}, #{up_cate_code})
	</insert>
	<update id="update" parameterType="CategoryDTO">
		UPDATE category SET cate_name=#{cate_name}, up_cate_code=#{up_cate_code}
		WHERE cate_code=#{cate_code}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM category WHERE cate_code=#{cate_code}
	</delete>
	<select id="search_theme_name" parameterType="Integer" resultType="String">
		SELECT cate_name FROM category WHERE cate_code=${up_cate_code}
	</select>
</mapper>