<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.ItemMapper">
	
	<select id="select" parameterType="Integer" resultType="ItemDTO">
	SELECT * FROM item WHERE item_code=${item_code}
	</select>
	<select id="selectall" resultType="ItemDTO">
	SELECT * FROM item i
	</select>
	<insert id="insert" parameterType="ItemDTO">
	INSERT INTO item VALUES(null, #{item_name}, #{item_loc}, #{item_detail}, #{cate_code}, #{lat}, #{lng}, null, current_date(), #{exp_days})
	</insert>
	<update id="update" parameterType="ItemDTO">
	UPDATE item set item_name=#{item_name}, item_loc=#{item_loc}, item_detail=#{item_detail}, cate_code=#{cate_code}, lat=#{lat}, lng=#{lng}, exp_days=#{exp_days})
	</update>
	<delete id="delete" parameterType="Integer">
	DELETE FROM item WHERE item_code=${item_code}
	</delete>
	
	<select id="options" parameterType="Integer" resultType="ItemDTO">
	SELECT * FROM item i INNER JOIN `option` o ON i.item_code=o.item_code WHERE i.item_code=${item_code}
	</select>
	
	<select id="dayselect" parameterType="Integer" resultType="ItemDTO">
		SELECT date_add(now(), INTERVAL #{exp_days} day) as exp_day from item where item_code=#{item_code}
	</select>
	
	<select id="search_theme" parameterType="Integer" resultType="ItemDTO">
	SELECT * FROM item i INNER JOIN category c ON i.cate_code=c.cate_code WHERE c.up_cate_code=${up_cate_code}
	</select>
	
	<select id="search_loc" parameterType="String" resultType="ItemDTO">
	SELECT * FROM item i INNER JOIN category c ON i.cate_code=c.cate_code WHERE c.cate_name=#{cate_name}
	</select>
	
	<select id="search_item" parameterType="Integer" resultType="ItemDTO">
	SELECT * FROM (
	SELECT i.item_code, i.item_name, i.item_loc, i.item_detail, i.cate_code, i.lat, i.lng, i.item_img, i.rdate, i.exp_days, c.cate_name, c.up_cate_code FROM item i INNER JOIN category c ON i.cate_code=c.cate_code WHERE c.up_cate_code=${param1}) AS theme
	WHERE cate_name=#{param2}
	</select>
	
	<select id="min_price" parameterType="Integer" resultType="Integer">
	SELECT min(item_price) FROM item i INNER JOIN `option` o on i.item_code=o.item_code WHERE i.item_code=${item_code};
	</select>
</mapper>