<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.MemberMapper">
	
	<select id="select" parameterType="int" resultType="MemberDTO">
		SELECT mem_code, mem_email, mem_pwd, mem_name, mem_hp, mem_nick, mem_birth
		FROM member WHERE mem_code=#{mem_code}
	</select>
	<select id="selectall" resultType="MemberDTO">
	
	</select>
	<insert id="insert" parameterType="MemberDTO">
		INSERT INTO member VALUES (#{mem_code},#{mem_email},#{mem_pwd},#{mem_name},#{mem_hp},#{mem_nick},#{mem_birth},NOW(),'M',0,null,#{provider})
	</insert>
	<update id="update" parameterType="MemberDTO">
		UPDATE member SET mem_pwd=#{mem_pwd},mem_hp=#{mem_hp},mem_nick=#{mem_nick},mem_birth=#{mem_birth} WHERE mem_code=#{mem_code}
	</update>
	<update id="updateSocial" parameterType="MemberDTO">
		UPDATE member SET mem_hp=#{mem_hp},mem_nick=#{mem_nick},mem_birth=#{mem_birth} WHERE mem_code=#{mem_code}
	</update>
	<update id="delete" parameterType="int">
		UPDATE member SET mem_del=1, mem_deldate=NOW(), mem_pwd=null, mem_birth=null WHERE mem_code=#{mem_code}
	</update>
	<delete id="delete_permanent" parameterType="int">
	
	</delete>
	
</mapper>