@charset "UTF-8";
/* 펼쳐보기 버튼*/
.view_detail{
	z-index: 596;
	padding:4px 18px;
	border-radius: 10px;
	border:0px;
	float: right;
	margin: 0 10px 10px;
	background-color:#C8D7FF;
	border: 2px solid #BECDFF;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
}
.view_detail:hover {
   background-color: #7B68EE;
   color:white;
   border: 2px solid #7B68EE;
}
.close_detail{
	display:none;
	padding:4px 18px;
	border:0px;
	border-radius: 10px;
	float: right;
	margin: 0 10px 10px;
	background-color:#C8D7FF;
	border: 2px solid #BECDFF;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
}
.close_detail:hover {
   background-color: #7B68EE;
   border: 2px solid #7B68EE;
   color:white;
}

/* 다녀온 여행*/
h3 {
   font-size: 32px;
   font-weight: 800;
   color: #2d2c2c;
   
}

#div_line {
	margin-left: 5%;
	margin-top: 3%;
	/* border: 2px solid blue; */
}

#past_day{
   font-size: 22px;
   font-weight: 600;
   padding : 5px 20px;
   display: inline-block;
   margin-left: 10px;
}

.past_content{	/* 바탕 색 */
   width: 90%;
   margin: 0 0 35px 30px;
   border: 2px solid #fee4a0;
   border-radius: 10px;
   overflow: auto;
   background: #fee4a0;
}

#past_title{
   margin:auto;
   text-align: center;
   font-size: 22px;
   padding: 20px 0 0 0;
   font-weight: 600;
}
.past_hidden{
   display: none;
   padding: 15px 0 5px 0;
   font-weight: 600;
   font-size: 16px;
}

.test {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 17px;
	background: #ffffff;
	border-radius: 5px;
	width: 95%;
	padding: 10px 0px;
}
.test2 {
	margin: 10px 20px 0 20px;
	width: 650px;
	
	font-size: 17px;
	font-weight: 500;
}

#past_div {
	margin: 5px 0;
}

#img_item{
	width: 250px;
	height: 250px;
	border-radius:8px;
	margin: 25px 10px 0 10px; 
	padding: 15px 5px;
}

#img_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
}
  
#book {
	margin-top: 3%;
}

/* 선 */
.test2 #line1 {
	border: none;
	border: 1px dashed #faa81f;
}

#line2 {
	border: 1px dashed #faa81f;
}
