<style>
h3 {
	font-size: 30px;
	font-weight: 800;
	color: #2d2c2c;
	
}
#my_r_top {
	/* border: 2px solid red; */
	margin-top: 5%;
	height: auto;
}
.my_r_item, .my_r_box {
	margin: 0 10%;
}
.my_r_item a{
	border: 2px solid #ef910a;
	border-radius: 10px;
	width: 20%;
	padding: 5px 30px;
	
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	background-color: #fa9e1b;
	
}

.my_r_item a:hover {
	color: #ffffff;
	font-weight: 800;
	background-color: rgb(169, 123, 255);
	border: 2px solid #8d4fff;
}

.my_r_box {
	background-color: rgb(253, 223, 145);
	width: 80%;
	margin: 1% auto;
	border-radius: 5px;
	padding: 2% 3%;
	overflow: auto;
}

#my_r_title{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
#my_r_t_day, #my_r_day, .my_r_rating {
	font-size: 14px;
	font-weight: 500;
	color: #2d2c2c;
	margin-top: 1%;
}

#my_r_t_day {
	margin-left: 10%;
	margin-right: 10%;
	float: left;
}

#my_r_day{
	margin-left: 5%;
	margin-right: 15%;
	float: left;
}

ul {
	list-style:none;
}

.my_r_content {
	width:90%;
	margin: 1% 0 1% 5%;
	padding: 2% 2%;
	border: 1px solid gray;
	background-color: #ffffff;
	border-radius: 10px;
	overflow: auto;
	
	font-size: 14px;
	font-weight: 600;
}
.my_r_photo {
	margin-top: 2%;
	margin-left: 5%;
	font-size: 16px;
	font-weight: 600;
}
.my_r_photo ul li img{
	/* border: 1px solid green; */
	width: 15%;
	height: 15%;
	float: left;
	margin: 10px 10px;
}

</style>

<div class="my_r">
	<div class="my_r_main">
		<h3>나의 리뷰</h3>
		 <div id="my_r_top" th:each="review:${reviews}" >						<!-- 1로 지정하지 않고 가는 방법 -->
			<div class="my_r_item">경주 여행</div>
			<div class="my_r_box">
			 	<div id="my_r_title">제목: <span th:text="${review.title}"></span></div>
				<div id="my_r_day">작성 날짜: <time th:text="${review.review_date}"></time></div>
				<div class="my_r_rating">평점: <div th:text="${review.score}"></div></div>
					<div class="my_r_content">	
						<span th:text="${review.content}">경주에 가족들이랑 다녀왔습니다. 즐거운 시간이었어요. 다만 활동 내용이 다양하지는 않아서 알차게 경주를 즐기다 오진 못한 것 같아 아쉽습니다. </span>
					</div>	
				<form method="post" id="my_r_form">
					<a id="w_r_r">삭제</a>
					<input name="review_code" id="review_code" type="hidden" value="1">
				</form>
			</div>
		</div> 
		
		
		

<script>
//리뷰 삭제
/* $('#w_r_r').click(function() {
   var c=confirm('삭제하시겠습니까?');
   if(c==true) {
      $('#my_r_form').attr({
         'method': 'post',
         'action': '[[@{/mypage/rremove}]]'
      });
      $('#my_r_form').submit();
   }
}); */

</script>