<style>
h3 {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: 800;
	color: #2d2c2c;
}
.wish {
	/* border: 2px solid red;	*/
}

.wish_box{
	border: 1px solid gray;	
	display: flex; 
	flex-direction: column;
	margin-bottom: 5%;
	margin-top: 3%;
	border-radius: 10px;
}

.w_pthoto {
	position: relative;
	/* border: 3px solid orange; */
}

#wish_image {
    width: 70%;
    height: 30%;
    border-radius:8px;
   /* border: 3px solid green; */
   margin-top: 5%;
    margin-left: 15%;
	
}

.wish_content{
	width: 90%;
	padding: 3% 1%;
	/* border: 2px solid green; */
	margin-left: 5%;
	border-radius: 10px;
}

.intro_title
{
	font-size: 30px;
	font-weight: 700;
	color: #2d2c2c;
}

.intro_text, .intro_thema {
	font-size: 18px;
	font-weight: 600;
	color: black;
	margin: 1% 0 1% 0;
	
}
#intro_text{
	/* border: 2px solid red; */
	font-size: 16px;
	font-weight: 600;
	color: #514f4f;
	
	margin-right: 5%;
}

#intro_stan {
	margin: 2% 0;
	
	font-size: 16px;
	font-weight: 600;
	color: #514f4f;
}

#intro_intro {
	font-size: 17px;
	font-weight: 600;
	color: black;
}
/* 버튼 */
.intro_button a, .intro_button a:hover {
	text-decoration: none;
	color: #ffffff;
}

div .intro_button {
	padding: 2% 7%;
	border-radius: 20px;
	height: 50px;
	width: 250px;
	text-align: center;
	
	position: relative;
	left: 35%;
	
	font-size: 18px;
	font-weight: 700;
	background-color: #fa9e1b;
	border: 2px solid #ef910a;
	color: #ffffff;
}
.intro_button:hover {
	background-color: rgb(169, 123, 255);
	color: #ffffff;
	border: 2px solid #8d4fff;
	cursor: pointer;
} 

</style>

<div class="wish">
	<div class="wish_main">
		<h3>나의 위시리스트</h3>
			<div class="wish_box" th:each="wish:${wishs}">
				<div class="w_pthoto">			<!-- "${roomimg1}" -->
					<img id="wish_image" th:src="@{/images/LW.JPG}" alt="상품이미지">
				</div>
				<div class="wish_content">
					<div class="intro_title" th:text="${wish.item_name}">[QR바로입장]롯데월드 자유이용권</div>
					<hr>
					<ul>
						<li class="intro_thema" th:text="'[테마 / 지역] '+${wish.cate_name}"></li>
						<li class="intro_text">[이용 안내]</li>
						<li id="intro_text" th:text="${wish.item_detail}"></li>
						<li id="intro_stan"><span>
						- athema를 통해 예매한 내용은 현장에서 티켓으로 교환하여 사용할 수 있습니다.<br>
						- 카카오 알림톡 또는 문자로 발송된 URL을 통해서 입장 가능합니다.<br>
						- 예매 후에는 반드시 예약 내역을 통해 구매하신 티켓의 내용을 확인해주시 바랍니다.<br>
						- 상품의 유효 기간을 확인해주시기 바랍니다. <br>
						</span></li>
						<li id="intro_intro" th:text="'※ 이용시간은 현장 상황에 따라 상이할 수 있으며, 방문 전 <'+${wish.item_name}+'> 홈페이지에서 이용시간을 확인해주시기 바랍니다.'"></li>
					</ul>
					<hr>
					<div class="intro_button"><a th:href="@{/single_listing(item_code=${wish.item_code})}"><div>지금 구매하기</div></a></div>
														  <!-- @{/single_listing(item_code=1)} -->
														 
					
				</div>
			</div>
			
				

	</div>
</div>
