<style>
h3 {
   font-size: 30px;
   font-weight: 800;
   color: #2d2c2c;
   
}
.view_detail{
   z-index: 596;
   padding:4px 18px;
   border-radius: 10px;
   border:0px;
   float: right;
   margin: 0 10px 10px;
   background-color:#C8D7FF;
   border: 2px solid #BECDFF;
   cursor: pointer;
}
.view_detail:hover {
   background-color: #7B68EE;
   color:white;
   border: 2px solid #7B68EE;
}
.close_detail{
   display:none;
   padding:4px 18px;
   border:0px;
   border-radius: 10px;
   float: right;
   margin: 0 10px 10px;
   background-color:#C8D7FF;
   border: 2px solid #BECDFF;
   cursor: pointer;
}
.close_detail:hover {
   background-color: #7B68EE;
   border: 2px solid #7B68EE;
   color:white;
}
#past_day{
   font-size: 16px;
   font-weight: 600;
   padding : 5px 20px;
   display: inline-block;
   margin-left: 10px;
}
.past_content{
   width:80%;
   margin: 0 0 35px 30px;
   border: 2px solid ;
   border-radius: 10px;
   overflow: auto;
}

.past_hidden{
   display: none;
   padding: 15px 0 5px 0;
   font-weight: 500;
}
#past_title{
   margin:auto;
   text-align: center;
   font-size: 18px;
   padding: 20px 0 0 0;
   font-weight: 600;
}
   #img_item{
      position: relative;
      display: inline-block;
       width: 150px;
       height: 150px;
       border-radius:8px;
       margin: 0 10px 10px; 
       vertical-align:top;
       float: left;
   }
   #img_item img{
      position: absolute;
       top: 0;
       left: 0;
       transform: translate(50, 50);
       width: 100%;
       height: 100%;
       object-fit: cover;
       margin: auto;
   }
#w_r_register {
   cursor: pointer;
}   

</style>

<link rel="stylesheet" type="text/css" href="/styles/write_review.css">


<div class="past">
   <div class="past_main">
   <h3>지난 여행</h3>
      <div id="div_line">
      <div id="past_day"><time datetime="2022-12-15">2022년 12월 15일</time></div>
      </div>      
      <div class="past_content">
         <div id="past_title">경주 여행</div>
            <div class="past_hidden">   
               <div><img id="img_item" th:src="@{/images/item_1.jpg}" alt="상품이미지"></div>
               <div id="past_div">상품명 해변 투어</div>
               <div id="past_div">옵션 1.어쩌고 저쩌고 &nbsp;&nbsp;수량 3</div>
               <div id="past_div">유효기간 <time datetime="2023-12-31">2023년 12월 31일까지</time></div>
               <div id="past_div">결제 정보 신용카드</div>
            </div>   
            <div><button class="view_detail">상세보기</button></div>
            <div><button class="close_detail">상세닫기</button></div>
            <div id="clear"></div>
      </div>
      
      
      <details>
          <summary>리뷰 쓰기</summary>
            <div class="w_r_detail">   
            
            <form method="post" id="write_r_form">
            
            <div class="w_r">
            
               <div class="w_r_g">
                  <div class="w_r_q">여행은 어떠셨나요?</div>
                  <div class="w_r_g_box">
                     <div class="w_r_grade"> 여행 점수: 
                     <input type="text" id="w_r_grade" name="score" placeholder="0.0">
                     </div>
                     <div class="w_r_guide">
                     * 점수는 최대 5점까지 입력 가능하며 소수점 첫번째 자리까지만 입력 가능합니다.
                     </div>
                 
                 </div>
                 <hr id="hr1"> 
               </div>
      
               <div class="w_r_box">
                  <div class="w_r_title">제목: 
                  <input type="text" id="write_title" name="title" placeholder="제목을 입력해주세요">
                  </div>
               <hr>
                  <div class="w_r_c">여행 리뷰 작성하기
                     <div class="w_r_content">
                     <textarea id="write_content" name="content" placeholder="내용을 입력하세요...&#13;&#10;&#13;&#10;"></textarea>
                     </div>
                  </div>
               <hr>
               
              	
	              <div class="w_r_photo">사진: 
	                <div class="insert">
					     <input type="file" onchange="addFile(this);" multiple onsubmit="return false;"/>
					     <div class="file-list"></div>
	    			</div>  
	    		</div> 

                  <input name="mem_code" id="mem_code" type="hidden" value="1">
                  <input name="item_code" id="item_code" type="hidden" value="1">
                  <input name="review_code" id="review_code" type="hidden" value="0">
               </div>
            </div>
            <a id="w_r_register">등록</a>
            </form>
            
            <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
			    <div>
			        <span>파일 1</span>
			        <input type="file" name="img1" accept="image/png, image/gif, image/jpeg">
			    </div>
					<div>
			        <span>파일 2</span>
			        <input type="file" name="img2" accept="image/png, image/gif, image/jpeg">
			    </div>
			    <div>
			        <span>업로드</span>
			        <input type="submit" value="전송">
			    </div>
			</form>
            
            </div>
         </div>
      </details>
 
   </div>
   
   <script>
	$(document).ready(function(){
	   var hiddens = document.getElementsByClassName("past_hidden");
	   var open_btns = document.getElementsByClassName("view_detail");
	   var close_btns = document.getElementsByClassName("close_detail");
	   var funcs = []
	   function hide(num) {
	      return function() {
	          open_btns[num].onclick = function() {
	             hiddens[num].style.display = "block";
	             open_btns[num].style.display = "none";
	             close_btns[num].style.display = "block";
	          };
	          close_btns[num].onclick = function() {
	             hiddens[num].style.display = "none";
	             close_btns[num].style.display = "none";
	             open_btns[num].style.display = "block";
	          };
	      };
	   };   
	   for (var i = 0; i < open_btns.length; i++) {
	     funcs[i] = hide(i);
	}
	
	   for (var j = 0; j < open_btns.length; j++) {
	     funcs[j]();
	}
	});
	
	// 리뷰 등록
	   $('#w_r_register').click(function() {
	      var c=confirm('등록하시겠습니까?');
	      if(c==true) {
	         $('#write_r_form').attr({
	            'method': 'post',
	            'action': '[[@{/mypage/insert}]]'
	         });
	         $('#write_r_form').submit();
	         alert("정상적으로 등록되었습니다.");
	      }
	   });
	
	   
// 사진 업로드	   

var filesArr = new Array();

/* 첨부파일 추가 */
function addFile(obj){
    var maxFileCnt = 5;   // 첨부파일 최대 개수
    var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
    var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
    var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

    // 첨부파일 개수 확인
    if (curFileCnt > remainFileCnt) {
        alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
    }

    for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {

        const file = obj.files[i];

        // 첨부파일 검증
        if (validation(file)) {
            // 파일 배열에 담기
            var reader = new FileReader();
            reader.onload = function () {
                filesArr.push(file);
            };
            reader.readAsDataURL(file)

            // 목록 추가
            let htmlData = '';
            htmlData += '<div id="file' + fileNo + '" class="filebox">';
            htmlData += '   <p class="name">' + file.name + '</p>';
            htmlData += '   <a class="delete" onclick="deleteFile(' + fileNo + ');"><i class="far fa-minus-square"></i></a>';
            htmlData += '</div>';
            $('.file-list').append(htmlData);
            fileNo++;
        } else {
            continue;
        }
    }
    // 초기화
    document.querySelector("input[type=file]").value = "";
}

/* 첨부파일 검증 */
function validation(obj){
    const fileTypes = ['application/pdf', 'image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif', 'application/haansofthwp', 'application/x-hwp'];
    if (obj.name.length > 100) {
        alert("파일명이 100자 이상인 파일은 제외되었습니다.");
        return false;
    } else if (obj.size > (100 * 1024 * 1024)) {
        alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
        return false;
    } else if (obj.name.lastIndexOf('.') == -1) {
        alert("확장자가 없는 파일은 제외되었습니다.");
        return false;
    } else if (!fileTypes.includes(obj.type)) {
        alert("첨부가 불가능한 파일은 제외되었습니다.");
        return false;
    } else {
        return true;
    }
}

/* 첨부파일 삭제 */
function deleteFile(num) {
    document.querySelector("#file" + num).remove();
    filesArr[num].is_delete = true;
}

/* 폼 전송 */
function submitForm() {
    // 폼데이터 담기
    var form = document.querySelector("form");
    var formData = new FormData(form);
    for (var i = 0; i < filesArr.length; i++) {
        // 삭제되지 않은 파일만 폼데이터에 담기
        if (!filesArr[i].is_delete) {
            formData.append("attach_file", filesArr[i]);
        }
    }

    $.ajax({
        method: 'POST',
        url: 'mypage/insert',
        dataType: 'json',
        data: formData,
        async: true,
        timeout: 30000,
        cache: false,
        headers: {'cache-control': 'no-cache', 'pragma': 'no-cache'},
        success: function () {
            alert("파일업로드 성공");
        },
        error: function (xhr, desc, err) {
            alert('에러가 발생 하였습니다.');
            return;
        }
    })
}
</script>