<style>
.mytextcolor{background-color: #FFFF96;}
</style>
<ul>
	<li id="mypage_menu_title">설정</li>
	<li><a th:href="@{/mypage/userpage(mem_email=${session.loginMember.mem_email})}">계정 정보</a></li>
</ul>
<ul>
	<li id="mypage_menu_title">여행 관리</li>
	<li id="travel_menu"><a th:href="@{/mypage/travel_list(mem_code=${session.loginMember.mem_code})}">여행 관리</a>
	<ul id="submenu">
		<li><a th:href="@{/mypage/travel_plan(mem_code=${session.loginMember.mem_code})}">예정된 여행</a></li>
		<li><a th:href="@{/mypage/travel_past(mem_code=${session.loginMember.mem_code})}">다녀온 여행</a></li>
	</ul></li>
	<li><a th:href="@{/mypage/myreview(mem_code=${session.loginMember.mem_code})}">나의 후기</a></li>
	<li class="mytextcolor"><a th:href="@{/mypage/mywishlist(mem_code=${session.loginMember.mem_code})}">위시리스트</a></li>
</ul>
<ul>
	<li id="mypage_menu_title">고객지원</li>
	<li><a th:href="@{/contact}">공지사항</a></li>
	<li><a th:href="@{/qnachat}">나의 문의</a></li>
</ul>