<style>
#ordnum{
	border: 0px;
	background-color:transparent; 
}
#ord_p{
	font-size: 20px;
	color:red;
}
</style>
<script>
function myFunction(order_code) {
	var myWindow = window.open("http://127.0.0.1:8080/admin/order/getord?order_code="+order_code, "", "width=500,height=200");
}
</script>
<div class="order_list">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">주문 목록</h6>
        </div>
        
        <div class="card-body">
            <div class="table-responsive"><p id="ord_p"># 주문 코드를 누를 시 주문 상세 페이지가 열립니다. #</p>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        	<th>주문코드</th>
                            <th>이름</th>
                            <th>여행상품명</th>
                            <th>결제합계</th>
                            <th>예약자 명</th>
                            <th>예약자 번호</th>
                            <th>예약자 이메일</th>
                            <th>결제일</th>
                            <th>유효날짜</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>주문코드</th>
                            <th>이름</th>
                            <th>여행상품명</th>
                            <th>결제합계</th>
                            <th>예약자 명</th>
                            <th>예약자 번호</th>
                            <th>예약자 이메일</th>
                            <th>결제일</th>
                            <th>유효날짜</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr th:each="o:${list}">
                            <td><button id="ordnum" th:onclick="myFunction([[${o.order_code}]])">[[${o.order_code}]]</button></td>
                            <td th:text="${o.mem_name}"></td>
                            <td th:text="${o.item_name}"></td>
                            <td th:text="${o.tot_price}"></td>
                            <td th:text="${o.book_name}"></td>
                            <td th:text="${o.book_hp}"></td>
                            <td th:text="${o.book_email}"></td>
                            <td th:text="${#dates.format(o.order_date, 'YYYY-MM-dd')}"></td>
                            <td th:text="${#dates.format(o.exp_date, 'YYYY-MM-dd')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>