<!-- attribute : item -->
<h1>여행상품</h1>
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">상품 수정</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">수정</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<form method="get" action="">
					이름 <input id="name" th:value="${item.item_name}"><br>
					위치 <input id="loc" th:value="${item.item_loc}"><br>
					설명 <input id="detail" th:value="${item.item_detail}"><br>
					등록일 <input id="rdate" th:value="${item.rdate}" disabled><br>
					유효기간 <input id="exp_days" th:value="${item.exp_days}"><br>
					<button onclick="submit"></button>
				</form>
				<table class="table table-bordered" id="dataTable" width="100%"
					cellspacing="0">
					<thead>
						<tr>
							<th>이름</th>
							<th>위치</th>
							<th>설명</th>
							<th>등록일</th>
							<th>유효기간</th>
							<th></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>이름</th>
							<th>위치</th>
							<th>설명</th>
							<th>등록일</th>
							<th>유효기간</th>
							<th></th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td th:text="${item.item_name}"></td>
							<td th:text="${item.item_loc}"></td>
							<td th:text="${item.item_detail}"></td>
							<td th:text="${item.rdate}"></td>
							<td th:text="${item.exp_days}"></td>
							<td><button id="edit" th:myName="${item.item_code}" onclick="edit(this.getAttribute('myName'))">수정</button> <button id="delete" th:onclick="|location.href='@{/item/delete}'|">삭제</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>