<script>
	$(document).ready(function(){
		$('#add_form > button').click(function(){
			var c = confirm('등록하시겠습니까?');
			if(c==true){
				$('#add_form').attr({
					'method':'get',
					'action':'[[@{/item/addimpl}]]'
				});
				$('#add_form').submit();
			}
		});
	});
</script>

<!-- attribute : item -->
<h1>여행상품</h1>
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">상품 등록</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">등록</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<form id="add_form">
					<h5>상품 정보</h5>
					이름 <input type="text" name="item_name"><br>
					위치 <input type="text" name="item_loc"><br>
					설명 <textarea type="text" name="item_detail" cols="30" rows="5"></textarea><br>
					테마 
					<select name="theme">
						<option value="">테마를 선택해주세요</option>
						<option value="1">혼자</option>
						<option value="2">커플</option>
						<option value="3">가족</option>
						<option value="4">효도</option>
						<option value="5">우정</option>
					</select><br>
					지역 
					<select name="location">
						<option value="">지역을 선택해주세요</option>
						<option value="서울">서울</option>
						<option value="인천">인천</option>
						<option value="부산">부산</option>
						<option value="광주">광주</option>
						<option value="제주">제주</option>
						<option value="경기">경기</option>
						<option value="강원">강원</option>
						<option value="충북">충북</option>
						<option value="충남">충남</option>
						<option value="전북">전북</option>
						<option value="전남">전남</option>
						<option value="경북">경북</option>
						<option value="경남">경남</option>
					</select><br>
					좌표:<br>
					경도 <input type="number" name="lat" step="0.0001"> 위도 <input type="number" name="lng" step="0.0001"><br>
					유효기간 <input type="number" name="exp_days"><hr>
				</form>
				<form>
					<h5>옵션 정보</h5>
					옵션 이름 <input type="text" name="opt_name"><br>
					가격 <input type="number" name="item_price"><br>
					<span><a href="#">옵션 추가하기</a></span><br>
				</form>
				<button>등록하기</button>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>