<script>
	$(document).ready(function(){
		$('#edit_form > button').click(function(){
			var c = confirm('수정하시겠습니까?');
			if(c==true){
				$('#edit_form').attr({
					'method':'get',
					'action':'[[@{/item/editimpl}]]'
				});
				$('#register_form').submit();
			}
		});
	});
</script>

<!-- attribute : item -->
<h1>여행상품</h1>
<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">상품 수정</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">수정</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<form id="edit_form">
					<input type="hidden" name="item_code" th:value="${item.item_code}">
					이름 <input type="text" name="item_name" th:value="${item.item_name}"><br>
					위치 <input type="text" name="item_loc" th:value="${item.item_loc}"><br>
					설명 <input type="text" name="item_detail" th:value="${item.item_detail}"><br>
					등록일 <input type="text" name="rdate" th:value="${item.rdate}" disabled><br>
					유효기간 <input type="number" name="exp_days" th:value="${item.exp_days}"><br>
					<button>수정하기</button>
				</form>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>