.userpage_content{
	padding:0 5% 5% 0;
	}
	.userpage_content div{
		margin: 10px auto;
	}
	/* input box 사이즈 조절 */
	input{
		width:65%;
		display: flex;
	}
	
	/* 수정/탈퇴 버튼 스타일 */
	#userpage_btn{
		text-align: right;
		color:white;
		font-size: 16px;
		margin-top:30px;
	}
	#userpage_btn a{
		padding: 10px;
		border-radius:8px;
		margin:0 3px; 
		text-decoration : none;
	}
	#update{
		background: #54BD54;
		border:2px solid #54BD54;
	}
	#delete{
		background:#FF0000;
		border:2px solid #FF0000;
	}
	#userpage_btn a:hover{
		border:2px solid black;
		font-weight: 600;
		color: black;
	}