<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.ItemMapper">
	
	<select id="select" parameterType="Integer" resultType="ItemDTO">
	SELECT * FROM item WHERE item_code=${item_code}
	</select>
	<select id="selectall" resultType="ItemDTO">
	SELECT * FROM item ORDER BY item_code
	</select>
	<insert id="insert" parameterType="ItemDTO">
	INSERT INTO item VALUES(null, #{item_name}, #{item_loc}, #{item_detail}, (SELECT cate_code FROM category WHERE cate_name=#{location} and UP_cate_code=${theme}), #{lat}, #{lng}, #{item_img1}, #{item_img2}, current_date(), #{exp_days})
	</insert>
	<update id="update" parameterType="ItemDTO">
	UPDATE item SET item_name=#{item_name}, item_loc=#{item_loc}, item_detail=#{item_detail}, exp_days=#{exp_days}
	</update>
	<delete id="delete" parameterType="Integer">
	DELETE FROM item WHERE item_code=${item_code}
	</delete>
	
	<select id="getitem_code" parameterType="String" resultType="Integer">
	SELECT item_code FROM item WHERE item_name=#{item_name}
	</select>
	
	<select id="theme" parameterType="Integer" resultType="String">
	SELECT cate_name FROM category 
	WHERE cate_code=(SELECT up_cate_code FROM category 
	WHERE cate_code=(SELECT cate_code FROM item WHERE item_code=${item_code}))
	</select>
	<select id="location" parameterType="Integer" resultType="String">
	SELECT cate_name FROM category WHERE cate_code=(SELECT cate_code FROM item WHERE item_code=${item_code})
	</select>
</mapper>