<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.MemberMapper">
	
<!-- 	회원 조회 -->
	<select id="select" parameterType="int" resultType="MemberDTO">
		SELECT * FROM member WHERE mem_code=#{mem_code}
	</select>
	
<!-- 	이메일로 찾기 -->
	<select id="searchemail" parameterType="String" resultType="MemberDTO">
		SELECT * FROM member WHERE mem_email=#{mem_email}
	</select>
	
<!-- 	전체 목록 -->
	<select id="selectall" resultType="MemberDTO">
	SELECT * FROM member
	</select>
	
<!-- 	회원 등록 (자사 회원만 가능). 관리자 A 회원 M -->
	<insert id="insert" parameterType="MemberDTO">
		INSERT INTO member VALUES (mem_code,#{mem_email},#{mem_pwd},#{mem_name},#{mem_hp},#{mem_nick},#{mem_birth},#{mem_date},#{mem_auth},0,null,null)
	</insert>
	
	<update id="update" parameterType="MemberDTO">
	</update>

<!-- 	관리자 or 회원으로 변경 -->
	<update id="updateAuth" parameterType="MemberDTO">
		UPDATE member SET mem_auth=#{mem_auth} WHERE mem_code=#{mem_code}
	</update>

<!-- 	탈퇴 or 계정 복구처리, 1이 탈퇴회원, 0이 일반회원 -->
	<update id="delchange" parameterType="int">
		UPDATE member SET mem_del=1, mem_deldate=NOW(), mem_pwd=null, mem_birth=null WHERE mem_code=#{mem_code}
	</update>
<!-- 	DB에서 완전 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM member WHERE mem_code=#{mem_code}
	</delete>

	
<!-- 	Dashboard -->
<!-- 	오늘 가입한 회원 수 구하기 -->
	<select id="getTodayMember" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE DATE_FORMAT(mem_date,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')) FROM dual
	</select>
<!-- 	어제 가입한 회원 수 구하기 -->
	<select id="getYesterdayMember" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE DATE_FORMAT(DATE_SUB(mem_date, INTERVAL 1 DAY),'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 DAY),'%Y-%m-%d')) FROM dual
	</select>
<!-- 	오늘 탈퇴한 회원 수 구하기 -->
	<select id="getTodayWithdraw" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE DATE_FORMAT(mem_deldate,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')) FROM dual
	</select>
<!-- 	이번주 가입자 수 구하기 -->
	<select id="getWeekMember" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE YEARWEEK(mem_date, 7) = YEARWEEK(CURDATE(), 7)) FROM dual
	</select>
<!-- 	이번달 가입자 수 구하기 -->
	<select id="getMonthMember" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE DATE_FORMAT(mem_date,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')) FROM dual
	</select>
<!-- 	이번달 탈퇴회원 수 구하기 -->
	<select id="getMonthWithdraw" resultType="int">
		SELECT (SELECT count(*) FROM member 
		WHERE DATE_FORMAT(mem_deldate,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')) FROM dual
	</select>
<!-- 	전체 회원 수 구하기 -->
	<select id="getTotMember" resultType="int">
		SELECT count(*) FROM member
	</select>
<!-- 	총 탈퇴 회원 수 구하기 -->
	<select id="getTotWithdraw" resultType="int">
		SELECT count(*) FROM member WHERE mem_del=1
	</select>
	
</mapper>