<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.OrderMapper">
	<select id="select" parameterType="Integer" resultType="OrderDTO">
		SELECT * FROM `order` WHERE order_code=#{order_code}
	</select>
	<select id="selectall" resultType="OrderDTO">
		SELECT * FROM `order`
	</select>
	<insert id="insert" parameterType="OrderDTO">
		INSERT INTO `order` VALUES (NULL, #{mem_code}, #{tot_price}, now(),#{pay_code},#{book_name},#{book_hp},#{book_email})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM `order` WHERE order_code=#{order_code}
	</delete>
	<update id="update" parameterType="OrderDTO">
		UPDATE `order` set book_name=#{book_name}, book_hp=#{book_hp}, book_email=#{book_email} WHERE order_code =#{order_code}
	</update>
	<!-- 주문목록 -->
	<select id="listall" resultType="OrderDTO">
		SELECT ord.detail_code, m.mem_name as mem_name, i.item_name as item_name, opt.opt_name as opt_name, ord.cnt as cnt, o.tot_price as tot_price,
 		o.book_name, o.book_hp, o.book_email, o.order_date, ord.exp_date, ord.used FROM `member` m join `order` o on m.mem_code=o.mem_code
 		join ord_detail ord on o.order_code = ord.order_code
 		join `option` opt on ord.opt_code = opt.opt_code
 		join item i on i.item_code=opt.item_code;
	</select>
	<update id="updateused" parameterType="OrderDTO">
	UPDATE ord_detail set used=#{used} WHERE detail_code=#{detail_code};
	</update>
	<delete id="deletecode" parameterType="Integer">
	DELETE from ord_detail where detail_code=#{detail_code};
	</delete>
</mapper>