<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athema.mapper.OrderMapper">
	<select id="select" parameterType="Integer" resultType="OrderDTO">
		SELECT * FROM `order` WHERE order_code=#{order_code}
	</select>
	<select id="selectall" resultType="OrderDTO">
		SELECT * FROM `order`
	</select>
	<insert id="insert" parameterType="OrderDTO">
		INSERT INTO `order` VALUES (NULL, #{mem_code}, #{tot_price}, now(),#{pay_code},#{book_name},#{book_hp},#{book_email})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM `order` WHERE order_code=#{order_code}
	</delete>
	<update id="update" parameterType="OrderDTO">
		UPDATE `order` set book_name=#{book_name}, book_hp=#{book_hp}, book_email=#{book_email} WHERE order_code =#{order_code}
	</update>
	<!-- 주문목록 -->
	<select id="listall" resultType="OrderDTO">
		SELECT ord.detail_code, m.mem_name as mem_name, i.item_name as item_name, opt.opt_name as opt_name, ord.cnt as cnt, o.tot_price as tot_price,
 		o.book_name, o.book_hp, o.book_email, o.order_date, ord.exp_date, ord.used FROM `member` m join `order` o on m.mem_code=o.mem_code
 		join ord_detail ord on o.order_code = ord.order_code
 		join `option` opt on ord.opt_code = opt.opt_code
 		join item i on i.item_code=opt.item_code;
	</select>
	
	<!-- 진짜 사이트에 쓰일 주문 목록 -->
	<select id="selectlist" resultType="OrderDTO">
	SELECT DISTINCT(o.order_code), m.mem_name, i.item_name, o.tot_price, o.book_name, o.book_hp, o.book_email, o.order_date,ord.exp_date, ord.used  
	 FROM `order` o JOIN `member` m ON m.mem_code=o.mem_code
	 JOIN ord_detail ord ON o.order_code = ord.order_code
	 JOIN `option` opt ON ord.opt_code = opt.opt_code
	 join item i on i.item_code=opt.item_code
	</select>
	 
	<update id="updateused" parameterType="OrderDTO">
	UPDATE ord_detail set used=#{used} WHERE detail_code=#{detail_code}
	</update>
	
	<!-- 월 주문건수 -->
	<select id="getMonthOrder" resultType="Integer">
	SELECT (SELECT count(order_code) FROM `order` 
	WHERE DATE_FORMAT(order_date,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')) FROM dual
	</select>
	<!-- 일 주문건수 -->
	<select id="getDayOrder" resultType="Integer">
	SELECT (SELECT count(order_code) FROM `order` 
	WHERE DATE_FORMAT(order_date,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')) FROM dual
	</select>
	<!-- 연 매출 -->
	<select id="getYearSales" resultType="Integer">
	SELECT (SELECT sum(tot_price) FROM `order` 
	WHERE DATE_FORMAT(order_date,'%Y') = DATE_FORMAT(CURDATE(),'%Y')) FROM dual
	</select>
	<!-- 월 매출 -->
	<select id="getMonthSales" resultType="Integer">
	SELECT (SELECT sum(tot_price) FROM `order` 
	WHERE DATE_FORMAT(order_date,'%Y-%m') = DATE_FORMAT(CURDATE(),'%Y-%m')) FROM dual
	</select>
	<!-- 일 매출 -->
	<select id="getDaySales" resultType="Integer">
	SELECT (SELECT sum(tot_price) FROM `order` 
WHERE DATE_FORMAT(order_date,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d')) FROM dual
	</select>
</mapper>